// Feeling Labels


// //  キモチ別の色指定
// //-------------------------------------
// ハッピー
.feeling-Happy {
  color: $color-feel-Happy;
}
.feeling-Relax {
  color: $color-feel-Relax;
}
.feeling-Sad {
  color: $color-feel-Sad;
}
.feeling-Cry {
  color: $color-feel-Cry;
}
.feeling-ight {
  color: $color-feel-ight;
}
.feeling-Angry {
  color: $color-feel-Angry;
}
.feeling-Smile {
  color: $color-feel-Smile;
}
// ラベル
.label-feeling {
  color: #fff;
  text-align: center;
  font-size: 12px;
  line-height: 22px;
  @include border-radius(2px);
  &.label-feeling-bg-Happy {
    background-color: $bgColor-feel-Happy;
  }
  &.label-feeling-bg-Relax {
    background-color: $bgColor-feel-Relax;
  }
  &.label-feeling-bg-Sad {
    background-color: $bgColor-feel-Sad;
  }
  &.label-feeling-bg-Cry {
    background-color: $bgColor-feel-Cry;
  }
  &.label-feeling-bg-ight {
    background-color: $bgColor-feel-ight;
  }
  &.label-feeling-bg-Angry {
    background-color: $bgColor-feel-Angry;
  }
  &.label-feeling-bg-Smile {
    background-color: $bgColor-feel-Smile;
  }
}
// タグ
$map-feeling: sprite-map("../images/sprite/feeling/*.png");

.sprite-feeling {
  @include spritePC(parent, $map-feeling);
  &.feeling-1 {
    @include spritePC(child, $map-feeling, ico-feeling-01);
  }
  &.feeling-2 {
    @include spritePC(child, $map-feeling, ico-feeling-02);
  }
  &.feeling-3 {
    @include spritePC(child, $map-feeling, ico-feeling-03);
  }
  &.feeling-4 {
    @include spritePC(child, $map-feeling, ico-feeling-04);
  }
  &.feeling-5 {
    @include spritePC(child, $map-feeling, ico-feeling-05);
  }
  &.feeling-6 {
    @include spritePC(child, $map-feeling, ico-feeling-06);
  }
  &.feeling-7 {
    @include spritePC(child, $map-feeling, ico-feeling-07);
  }
}
.tag-feeling {

}
.tag-feeling-text {
  position: absolute;
  top: 0;
  left: 60px;
  width: 136px;
  height: 40px;
  color: #333;
  font-size: 12px;
  line-height: 40px;
  text-align: center;
  background-color: #efede0;
  &:before {
    position: absolute;
    top: 0;
    left: -15px;
    display: block;
    content: "";
    width: 15px;
    height: 40px;
    background-image: inline-image('common/bg_tag_feeling.png');
    @include background-size(15px 40px);
  }
}

