// Feeling Labels


//  キモチ別の色指定
//-------------------------------------
// フォントカラー
.feeling-1 {
  color: $color-feel-1;
}
.feeling-2 {
  color: $color-feel-2;
}
.feeling-3 {
  color: $color-feel-3;
}
.feeling-4 {
  color: $color-feel-4;
}
.feeling-5 {
  color: $color-feel-5;
}
.feeling-6 {
  color: $color-feel-6;
}
.feeling-7 {
  color: $color-feel-7;
}
// 背景色＋フォントカラー
.feelig-bg-all {
  color: #656457;
  background-color: $bgColor-feel-all;
}
.feeling-bg-1 {
  color: #fff;
  background-color: $bgColor-feel-1;
}
.feeling-bg-2 {
  color: #fff;
  background-color: $bgColor-feel-2;
}
.feeling-bg-3 {
  color: #fff;
  background-color: $bgColor-feel-3;
}
.feeling-bg-4 {
  color: #fff;
  background-color: $bgColor-feel-4;
}
.feeling-bg-5 {
  color: #fff;
  background-color: $bgColor-feel-5;
}
.feeling-bg-6 {
  color: #fff;
  background-color: $bgColor-feel-6;
}
.feeling-bg-7 {
  color: #fff;
  background-color: $bgColor-feel-7;
}




// ラベル
.label-feeling {
  color: #fff;
  text-align: center;
  font-size: 12px;
  line-height: 22px;
  @include border-radius(2px);
  &.label-feeling-bg-1 {
    background-color: $bgColor-feel-1;
  }
  &.label-feeling-bg-2 {
    background-color: $bgColor-feel-2;
  }
  &.label-feeling-bg-3 {
    background-color: $bgColor-feel-3;
  }
  &.label-feeling-bg-4 {
    background-color: $bgColor-feel-4;
  }
  &.label-feeling-bg-5 {
    background-color: $bgColor-feel-5;
  }
  &.label-feeling-bg-6 {
    background-color: $bgColor-feel-6;
  }
  &.label-feeling-bg-7 {
    background-color: $bgColor-feel-7;
  }
}
// タグ
// $map-feeling: sprite-map("../images/sprite/feeling/*.png");

// .sprite-feeling {
//   @include spritePC(parent, $map-feeling);
//   &.feeling-1 {
//     @include spritePC(child, $map-feeling, ico-feeling-01);
//   }
//   &.feeling-2 {
//     @include spritePC(child, $map-feeling, ico-feeling-02);
//   }
//   &.feeling-3 {
//     @include spritePC(child, $map-feeling, ico-feeling-03);
//   }
//   &.feeling-4 {
//     @include spritePC(child, $map-feeling, ico-feeling-04);
//   }
//   &.feeling-5 {
//     @include spritePC(child, $map-feeling, ico-feeling-05);
//   }
//   &.feeling-6 {
//     @include spritePC(child, $map-feeling, ico-feeling-06);
//   }
//   &.feeling-7 {
//     @include spritePC(child, $map-feeling, ico-feeling-07);
//   }
// }
// .tag-feeling {

// }
// .tag-feeling-text {
//   position: absolute;
//   top: 0;
//   left: 60px;
//   width: 136px;
//   height: 40px;
//   color: #333;
//   font-size: 12px;
//   line-height: 40px;
//   text-align: center;
//   background-color: #efede0;
//   &:before {
//     position: absolute;
//     top: 0;
//     left: -15px;
//     display: block;
//     content: "";
//     width: 15px;
//     height: 40px;
//     background-image: inline-image('common/bg_tag_feeling.png');
//     @include background-size(15px 40px);
//   }
// }

