// header
//
// A description.
//
// Markup: <some markup with a specific {$modifier} like class or a pseudo class >
//
// .class      - description of the class state
// :pseudo     - description of the pseudo state
//
// Styleguide 5 (digit number to increment eg chapter)

header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  width: 100%;
  min-width: 980px;
  height: 65px;
  background-color: #fdfcf3;
}

//  ヘッダーの曲再生メーター
//-------------------------------------
.header-playGage {
  width: 100%;
  min-width: 980px;
  border-top: 1px solid #7a7a7a;
  background-color: #3d3c3c;
  .value {
    height: 4px;
    background-color: #f46116;
    -webkit-transition: width 1s ease;
  }
}

//  ヘッダー領域
//-------------------------------------
.header-content {
  position: relative;
  width: 940px;
  height: 60px;
  margin: 0 auto;
  & > div {
    position: absolute;
  }
}
// ロゴSprite
$map-logo: sprite-map("../images/sprite/logo/*.png");

.sprite-logo {
  @include spritePC(parent, $map-logo);
  &.logo-headter {
    @include spritePC(child, $map-logo, logo-header);
  }
  &.logo-l {
    @include spritePC(child, $map-logo, logo-l);
  }
}
// ロゴ
.header-logo {
  position: absolute;
  top: 5px;
  left: 0;
}

//  メニュー
//-------------------------------------
.header-search {
  top: 10px;
  left: 64px;
  width: 80px;
  height: 40px;
  text-align: center;
  &:after {
    position: absolute;
    top: -5px;
    left: 85px;
    display: block !important;
    content: "";
    width: 1px;
    height: 50px;
    border-right: 1px solid #bdb99c;
  }
  p {
    width: 54px;
    span {
      margin-top: -5px;
    }
  }
}
.header-search-btn {
  width: 26px;
  height: 40px;
  line-height: 40px;
  font-size: 8px;
}

//  プレイリスト
//-------------------------------------
.header-playList {
  top: 10px;
  left: 156px;
  width: 96px;
  font-size: 12px;
  text-align: center;
  p:first-child {
    margin: 4px 0;
    color: #3d3c3c;
  }
  span {
    display: inline-block;
    width: 74px;
  }
}
.header-playList-title {
  height: 20px;
  padding: 4px;
  background-color: #dedbc7; 
}

//  再生メニュー
//-------------------------------------
.header-playMenu {
  top: 10px;
  left: 262px;
  width: 440px;
  height: 40px;
  background-color: #656457;
  & > div {
    height: 40px;
  }
}
// 再生・前へ・次へ
.header-playMenu-btn {
  position: absolute;
  top: 50%;
  width: 26px;
  height: 26px;
  margin-top: -13px;
  color: #656457;
  @include border-radius(26px);
  background-color: #fdfcf3;
}
.header-playMenu-btn-prev {
  left: 8px;
}
.header-playMenu-btn-play {
  left: 40px;
  width: 32px;
  height: 32px;
  margin-top: -16px;
}
.header-playMenu-btn-next {
  left: 76px;
}
// 曲名・アーティスト名
.header-playMenu-song {
  position: absolute;
  left: 110px;
  width: 180px;
  color: #fff;
}
.header-playMenu-song-title {
  margin: 6px 0 2px;
  font-size: 12px;
}
// 動画表示・リピート・シャッフル
.header-playSubMenu-btn {
  position: absolute;
  bottom: 4px;
  width: 30px;
  height: 20px;
  color: #fff;
  &.is-active {
    color: #ffe77c;
  }
}
.header-playSubMenu-btn-window {
  right: 64px;
}
.header-playSubMenu-btn-repeat {
  right: 34px;
}
.header-playSubMenu-btn-shuffle {
  right: 4px;
}

//  ユーザーメニュー
//-------------------------------------
.header-userMenu {
  top: 10px;
  left: 707px;
  &:after {
    position: absolute;
    top: -5px;
    left: 93px;
    display: block !important;
    content: "";
    width: 1px;
    height: 50px;
    border-right: 1px solid #bdb99c;
  }
}
.header-userMenu-btn {
  position: absolute;
  top: 0;
  height: 40px;
  font-size: 10px;
  text-align: center;
  color: #656457;
}
.header-userMenu-btn-myList {
  left: 100px;
  width: 70px;
  padding-top: 7px;
}
.header-userMenu-btn-noti {
  left: 180px;
  width: 70px;
  padding-top: 7px;
}
// ## 以下の2つは各ページ共通で使用するので、配置のみ。
// ## カラー等は _buttons.scssを参照。
// ポケットボタン
.header-userMenu-btn.btn-pocket {
  left: 0;
  width: 40px;
  font-size: 24px;
}
// ドロップボタン
.header-userMenu-btn.btn-drop {
  left: 50px;
  width: 40px;
  font-size: 24px;
}


// プレイリスト内曲表示Popup
//-------------------------------------
.header-playlist-content-popup-area {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 1;
  -webkit-transition: opacity .5s ease;
}
.header-playlist-content-popup-box {
  width: 980px;
}
.header-playlist-content-popup {
  top: 64px;
  left: 96px;
  width: 480px;
  height: 500px;
  background-color: rgb(239, 237, 224);
  @include border-radius(5px);
  @include box-shadow(0px 0px 6px rgba(0,0,0,0.2));
  // 上向き吹き出し
  &:after {
    position: absolute;
    top: 0;
    left: 90px;
    width: 0px;
    height: 0px;
    content: "";
    border-top: 0px solid transparent;
    border-bottom: 12px solid rgb(239, 237, 224);
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    margin-top: -12px;
  }
}
// リストのベースView（ul）
.header-musicList {
  overflow: scroll;      
  width: 100%;
  height: 100%;
}
.header-musicList-item {
  height: 60px;
  padding: 5px;
  border-bottom: 1px solid #d6d4c5;
  &:last-child {
    border-bottom: none;
  }
  &.is-active {
    background-color: #ffcf3c;
  }
  // サムネ画像
  .thumb {
    width: 44px;
    height: 44px;
    margin: 3px 0 0 3px;
  }
}
// 再生ボタン
.header-musicList-btn {
  top: 50%;
  right: 10px;
  margin-top: -18px;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  background-color: #656457;
  text-align: center;
  line-height: 36px;
  color: rgb(239, 237, 224);
}





// 後ついでに
// アプリのサブタイトル
#appSubTitle {
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 11px;
}

// ページタイトル
#pageTitle {
  text-align: center;
  font-size: 16px;
  font-weight: bold;
  padding-top: 10px;
}


// ログイン、ユーザーモジュール
#appUserModule {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 90px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  background-color: #efede0;

  .login, .userInfo {
    display: block;
    width: 100%;
    height: 100%;
    font-size: 12px;
  }
}

































