// musicDetail
.musicDetail {
  width: 460px;
  background-color: #fff;
  @include box-shadow(0 1px 6px 0px rgba(0, 0, 0, 0.2));
}
// サムネイル
//-------------------------------------
.musicDetail-thumb {
  position: relative;
  overflow: hidden;
  width: 140px;
  height: 140px;
  // 動画元・iTunesリンク
  .musicDetail-thumb-service {
    position: absolute;
    bottom: 10px;
    left: 50%;
    margin-left: -30px;
  }
}
// 曲情報
//-------------------------------------
.musicDetail-info {
  position: relative;
  width: 320px;
  height: 140px;
  padding: 10px;
  color: #333;
}
.musicDetail-info-title {
  width: 210px;
}
.musicDetail-info-artist {
  width: 210px;
}
// 再生ボタン
//-------------------------------------
.musicDetail-info-play-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 1;
  width: 80px;
  height: 80px;
  color: #75735b;
  font-size: 30px;
  @include border-radius(80px);
  background: #dedbc7;
  &.is-active, &:hover {
    background-color: #ffcf3c;
    .ico-font {
      color: #fa732d;
    }
  }
}

// 曲のキモチ・ポケット、ドロップのアクション
//-------------------------------------
.musicDetail-action {
  position: absolute;
  bottom: 10px;
  height: 40px;
  .m-btn-PD {
    float: left;
    width: 94px;
  }
}
.tag-feeling {
  float: left;
  width: 196px;
  margin-right: 10px;
}
.tag-feeling-text {
  width: 196px;
  height: 40px;
}

// 動画元・iTunesリンク
//-------------------------------------
// サービスのロゴ
$map-share: sprite-map("../images/sprite/share/*.png");

.sprite-share {
  @include spritePC(parent, $map-share);
  &.share-youtube {
    @include spritePC(child, $map-share, img-share-youtube);
  }
}
.musicDetail-otherLinks {
  position: relative;
  height: 37px;
}
.musicDetail-otherLinks-service {
  position: absolute;
  top: 10px;
  left: 44px;
}

// 曲Drop
//-------------------------------------
.musicDetail-pop {
  height: 123px;
  padding: 10px;
  border-top: 1px solid #DEDBC7;
}
.musicDetail-pop-text {
  height: 54px;
  line-height: 18px;
}
// Drop投稿者に対するフォロー・いいねボタン
//-------------------------------------
.musicDetail-user {
  padding: 10px;
  border-top: 1px solid #DEDBC7;
  background: #EFEDE0;
  .like-btn.is-active {
    color: #f3613f;
  }
  .is-active {
    color: #f3613f;
  }
}
.musicDetail-user-name {
  width: 370px;
}


//-------------------------------------
//  3カラム
//   ## 基本2カラムをオーバーライド
//-------------------------------------
.musicDetail-col3 {
  width: 313px;
  margin-right: 20px;
  margin-bottom: 20px;
  &:nth-child(3n) {
    width: 314px;
    margin-right: 0;
  }
  // サムネイル
  //-------------------------------------
  .musicDetail-thumb {
    width: 100px;
    height: 100px;
  }
  // 曲情報
  //-------------------------------------
  .musicDetail-info {
    position: relative;
    width: 213px;
    height: 100px;
    padding: 10px;
  }
  .musicDetail-info-feeling {
    margin: 0 0 10px;
  }
  .musicDetail-info-title {
    margin: 0 0 10px;
    .truncate {
      display: inline-block;
      max-width: 190px;
    }
  }
  .musicDetail-info-artist {
    margin: 0 0 10px;
    .truncate {
      display: inline-block;
      max-width: 190px;
    }
  }
  // 再生ボタン
  //-------------------------------------
  .musicDetail-info-play-btn {
    position: absolute;
    top: auto;
    bottom: 4px;
    right: 10px;
    width: 44px;
    height: 44px;
    font-size: 14px;
    @include border-radius(44px);
  }

  // 曲のキモチ・ポケット、ドロップのアクション
  //-------------------------------------
  .musicDetail-action {
    position: absolute;
    bottom: 10px;
    height: 30px;
  }
  .tag-feeling {
    width: 190px;
    margin-right: 0;
  }
  .tag-feeling-text {
    width: 124px;
    height: 30px;
  }

  // 曲Drop
  //-------------------------------------
  .musicDetail-pop {
    position: relative;
    height: 74px;

    // 右下にLikeボタン
    .like-btn {
      position: absolute;
      bottom: 0;
      right: 0;
      display: block;
      width: 28px;
      height: 28px;
      text-align: center;
      line-height: 28px;
      padding: 5px;
      background-color: rgba(239, 237, 224, .65);

      &.is-active {
        color: rgb(243, 97, 63);
      }
    }

  }
  // Drop投稿者に対するフォロー・いいねボタン
  //-------------------------------------
  .musicDetail-user-name {
    width: 270px;
  }
}

// 動画リンク追加
//-------------------------------------
.add-musicLink {
  .form {
    width: 100%;
    line-height: 30px;
  }
}

// 登録済みリスト
//-------------------------------------
.musicLink-table {
  width: 100%;
  text-align: left;
  caption {
    padding-bottom: 5px;
    text-align: left;
    border-bottom: 1px solid #d6d4c5;
  }
  thead {
    border-bottom: 2px solid #d6d4c5;
  }
  tbody {
    background-color: #efede0;
  }
  th, td {
    padding: 10px;
  }
  .elps {
    display: inline-block;
    max-width: 450px;
  }
  .like-btn.is-active {
    color: #f3613f;
  }
}








//  テキストリンク
//  ##あとでどっかに移動
//-------------------------------------
.text-link {
  display: inline-block;
  // .ico-font {
  //   margin: 0 0 0 10px;
  //   font-size: 8px;
  //   color: #c9c7b9;
  // }
  &:hover {
    opacity: 0.6;
    // .ico-font {
    //   color: #656457;
    // }
  }
}