//-------------------------------------
// Page Header ページごとのタイトル等
//-------------------------------------
.page-header {
  position: relative;
  width: 980px;
  margin: 0 auto 14px;
}
// アプリのサブタイトル
.appSubTitleText {
  position: absolute;
  top: 10px;
  left: 0;
}
// ページのタイトル
// .page-header-title {
// }
// ユーザーメニュー
.page-header-userMenu {
  position: absolute;
  top: -4px;
  right: 0;
  padding: 10px;
  background-color: #efede0;
}
