// page_header
.page-header {
  position: relative;
  margin-bottom: 10px;
}
.page-header-title {
  text-align: center;
  font-size: 18px;
  line-height: 26px;
}

// サムネイル
//-------------------------------------
// ユーザーメニュー
//-------------------------------------
.page-header-userMenu {
  position: absolute;
  top: -4px;
  right: 0;
  padding: 10px;
  color: #929187;
  background-color: #efede0;
  p {
    display: inline-block;
  }
  .ico-below {
    font-size: 8px;
  }
}