// Login Page

//  ログインブロック
//-------------------------------------
.page-login {
  width: 480px;
  margin: 0 auto;
}
.page-login-service {
  .btn-text {
    width: 120px;
  }
}
.page-login-sns {
  .btn-text {
    display: block;
    width: 454px;
    margin: 0 auto 10px;
    text-align: center;
  }
}
.page-login-rule {
  .rule {
    display: block;
    width: 96%;
    height: 150px;
    overflow-y: scroll;
    padding: 4px;
    border: 1px solid #ccc;
  }
  .detail-link {
    display: inline-block;
    margin-left: 320px;
  }
}