//======================================
//	Mypageのモジュール

// と思いきや、他人のマイページも同じスタイルなので、ちょっと間借りしちゃったです。。
// ファイル分割とか共通部分抽出とか相談させてください。（by ムネ）

//======================================


// TODO 以下で、Userページでも共通なので、なんとか綺麗にしたい。
// とりあえず、.pageMypageと.pageUserを作ってしまった。。

// キレイにし始めたけど途中です byコバ


//  共通
//-------------------------------------
// 左部分
.userPage-leftCol {
	width: 320px;
}
// 右部分
.userPage-rightCol {
	width: 612px;
}

//  共通
//-------------------------------------
// プレイリストタイトル業
.userPage-playlistHeader {
	position: relative;
	border-bottom: 1px solid #adaa95;
	.editButton {
		position: absolute;
		top: 0;
		right: 0;
	}
	.doneButton {
		position: absolute;
		top: 0;
		right: 0;
		display: none;
	}
	.userFollowButton {
		position: absolute;
		top: 0;
		right: 0;
		width: 100px;
		height: 32px;
		line-height: 32px;
		text-align: center;
		color: #7d6a35;
		background-color: #ffcf3c;
	}
}
// サイドバーの表示
.userPage-sidebarList {
	margin-top: 10px;
	&.edit {
		.clearBtn {
			display: block;
		}
	}
}
.userPage-sidebarList-item {
	position: relative;
	width: 310px;
	height: 24px;
	line-height: 24px;
	margin: 10px 0;
	padding-left: 10px;
	color: #656457;

	&:hover {
		background-color: #ffe77c;
		cursor: pointer;
		&:after {
		  position: absolute;
		  top: 0;
		  right: -12px;
		  width: 0px;
		  height: 0px;
		  content: " ";
		  border-top: 12px solid transparent;
		  border-bottom: 12px solid transparent;
		  border-left: 12px solid #ffe77c;
		  border-right: 0px solid transparent;
		}
	}
	&.select {
		background-color: #ffe77c;
		&:after {
		  position: absolute;
		  top: 0;
		  right: -12px;
		  width: 0px;
		  height: 0px;
		  content: " ";
		  border-top: 12px solid transparent;
		  border-bottom: 12px solid transparent;
		  border-left: 12px solid #ffe77c;
		  border-right: 0px solid transparent;
		}
	}
	&.dropTarget {
		background-color: #ffe77c;
		&:after {
		  position: absolute;
		  top: 0;
		  right: -12px;
		  width: 0px;
		  height: 0px;
		  content: " ";
		  border-top: 12px solid transparent;
		  border-bottom: 12px solid transparent;
		  border-left: 12px solid #ffe77c;
		  border-right: 0px solid transparent;
		}
	}
	// 削除ボタン
	.clearBtn {
		position: absolute;
		top: 0;
		right: 0;
		display: none;
		pointer-events: auto;
	}
}
// リスト編集機能
.userPage-listEditArea {
	&.edit {
		.editButton {
			display: none;
		}
		.doneButton {
			display: block;
		}
		.clearBtn {
			display: block;
		}
		.addPlaylistArea {
			display: block;
		}
	}
}



// 全体を囲む
.pageMypage, .pageUser {









	// プレイリストを作るUI
	.addPlaylistArea {
		position: relative;
		display: none;

		// 入力欄
		input[type="text"] {
			display: block;
			width: 320px;
			height: 40px;
			background-color: #efede0;
			box-shadow: -1px 1px 1px rgba(0,0,0,.3) inset;
		}

		// 追加ボタン
		input[type="button"] {
			position: absolute;
			top: 5px;
			right: 5px;
			display: block;
			width: 64px;
			height: 32px;
			color: #50504b;
			text-align: center;
			background-color: #ccc9b2;
		}
	}



	// Pocketの絞り込みUI
	.filterArea {
		position: relative;
		height: 60px;

		.filterByNameInput {
			position: absolute;
			top: 0;
			left: 0;
			display: block;
			width: 382px;
		}

		.filterByNameBtn {
			position: absolute;
			top: 5px;
			left: 312px;
			display: block;
			width: 64px;
			text-align: center;
		}

		.selectArea {
			position: absolute;
			top: 0;
			left: 388px;
			display: block;
			width: 218px;
			height: 40px;
			select {
				width: 100%;
				height: 100%;
				padding-left: 10px;
			}
		}
	}


	// ランダム再生とPocket編集機能
	.pocketListFncArea {
		padding: 10px 10px 10px 0;

		.randomPlayButton {
			width: 200px;
			float: left;
		}

		.editButton {
			width: 200px;
			text-align: right;
			float: right;
		}

		.playlistFollowButton {
			// width: 200px;
			text-align: right;
			float: right;
		}


	}




	// Pocketリスト
	.pocketListArea {
		li {
			position: relative;
			display: -webkit-box;
			-webkit-box-align:center;
			width: 300px;
			height: 72px;
			float: left;
			background-color: #efede0;
			color: #656457 !important;  // とりあえず上書き。
			margin-bottom: 20px;
			&:nth-child(2n) {
				margin-left: 10px;
			}
			&:after {
				position: absolute;
				top: 0;
				right: 0;
				width: 10px;
				height: 72px;
				content: " ";
			}
			&.feeling-1:after {
				background-color: $color-feel-1;
			}
			&.feeling-2:after {
				background-color: $color-feel-2;
			}
			&.feeling-3:after {
				background-color: $color-feel-3;
			}
			&.feeling-4:after {
				background-color: $color-feel-4;
			}
			&.feeling-5:after {
				background-color: $color-feel-5;
			}
			&.feeling-6:after {
				background-color: $color-feel-6;
			}
			&.feeling-7:after {
				background-color: $color-feel-7;
			}
		}
		.thumb {
			display: block;
			width: 72px;
			height: 72px;
		}
		.info {
			width: 150px;
			height: 72px;
			margin-left: 10px;
		}
		.title {
			padding: 10px 0;
			font-size: 14px;
			width: 100%;
			a {
				display: inline;
			}
		}
		.artistName {
			padding: 0 0 10px;
			font-size: 12px;
			width: 100%;
			a {
				display: inline;
			}
		}
		.playBtn {
			width: 42px;
			height: 42px;
			margin-left: 10px;
			border-radius: 50%;
			text-align: center;
			line-height: 42px;
			font-size: 22px;
			background-color: #dedbc7;
			&:hover {
				background-color: #ffcf3c;
				color: #8d7016;
				cursor: pointer;
			}
		}
		.deleteBtn {
			display: none;
			width: 42px;
			height: 42px;
			margin-left: 10px;
			border-radius: 50%;
			text-align: center;
			line-height: 42px;
			font-size: 22px;
			font-weight: bold;
			background-color: #dedbc7;
			&:hover {
				background-color: #ffcf3c;
				color: #8d7016;
				cursor: pointer;
			}
		}

		// 編集状態のスタイル
		&.editStyle {
			.playBtn {
				display: none;
			}
			.deleteBtn {
				display: block;
			}
		}
	}




	// Pocketの掃き溜め
	.pocketDeleteArea {
		position: absolute;
		top: 10px;
		right: 10px;
		width: 300px;
		height: 150px;
		line-height: 300px;
		text-align: center;
		color: #8d7016;
		background-color: rgba(0,0,0,.5);
		z-index: 10;
		&.active {
			border: 4px solid yellow;
		}
	}





	// ユーザーフォロー、フォローされている一覧、チェックアーティスト
	.followUserList, .followArtistList {
		li {
			min-height: 50px;
			width: 100%;
			padding: 10px;
	    background-color: rgb(239, 237, 224);
	    margin: 10px 0;
	    box-shadow: 0 1px 1px rgba(255,255,255,.5) inset, 0 -1px 1px rgba(0,0,0,.3) inset;
		}
		.message {
			line-height: 40px;
		}
		.userName {
			float: left;
			display: block;
			// width: 80%;
			height: 100%;
			line-height: 40px;
		}
		.followUserButton, .unfollowUserButton {
			float: right;
			width: 100px;
			height: 40px;
			text-align: center;
			border-radius: 5px;
			color: #656457;
			background-color: #dedbc7;
		}
		.unfollowUserButton {
			color: #8d7016;
			background-color: #ffcf3c;
		}


	}


}





































