// RUles

.page-notes {
  min-height: 600px;
  padding: 40px;
  background-color: rgba(#fff, 0.6);
}
.page-note-table {
  text-align: left;
  border-top: 1px solid #bdb99c;
  border-left: 1px solid #bdb99c;
  th {
    background-color: #dedbc7;
  }
  th, td {
    padding: 5px 10px;
    line-height: 24px;
    border-right: 1px solid #bdb99c;
    border-bottom: 1px solid #bdb99c;
  }
}