doctype 5
html
  head
    title ナナイロ
    link(rel='stylesheet', href='/stylesheets/style.css')
    // meta(name="viewport", content="width=device-width, initial-scale=1.0")
  body.bgMadYellow
    block content
