doctype 5
html
  head
    title Music Drops | みんなの感動があつまるミュージックライブラリー
    link(rel='stylesheet', href='/stylesheets/style.css?_=#{appVersion}')
    // meta(name="viewport", content="width=device-width, initial-scale=1.0")
  body.bgMadYellow
    block content
