doctype 5
html
  head
    title ナナイロ
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/kari_style.css')
    // link(rel='stylesheet', href='/stylesheets/bootstrap.css')
    // link(rel='stylesheet', href='/stylesheets/bootstrap-responsive.css')
    // link(href='http://fonts.googleapis.com/css?family=Quattrocento:700', rel='stylesheet', type='text/css')
    // meta(name="viewport", content="width=device-width, initial-scale=1.0")
  body.skin-sunset
    block content
