extends layout

block content

    div(style="font-size:24px; font-weight:bold; text-align:center") Music Drops
    br
    div(style="font-size:12px; text-align:center; margin-top:30px;") 該当のページは存在しません。
    br
    a(style="display:block; font-size:12px; text-align:center; text-decoration:underline; margin-top:60px;", href="/") TOPへ戻る



























