<!--ユーザー設定画面。ログインでも表示に使います。-->
<script id="page_about" type="text/template">

    <div class="page-notes">

		<h2 class="fs20 b mb40">みんなの日常にある音楽に"共鳴"する</h2>

		<p class="lh24 mb20">
MusicDropsには、音楽ジャンル別の分類はありません。<br>
なぜなら、良い音楽とは、ジャンルの壁を越えて、<br>
世代をも超えて、もっと様々な人の心に届く可能性があると考えたからです。
		</p>

		<p class="lh24 mb20">
私たちはMusic Dropsで、人々が生活の一部として耳にしている音楽と、<br>
その時のキモチがシンクロした瞬間を、「ドロップ」という感想に込め、<br>
気軽に共有しあえる場を提供しています。
		</p>

		<p class="lh24 mb20">
「ドロップ」をきっかけにして、ユーザー自身の感性にあった、<br>
音楽・アーティストを新しく知ることができたり、嗜好が近いユーザーの<br>
プレイリストを見つけることもできます。
		</p>

		<p class="lh24 mb40">
今までにないくらい手軽に、びっくりするほどシームレスに。<br>
音楽との新しい出会いを楽しんでください。
		</p>

		<p class="lh24 mb20">
team Makanai
		</p>

		</p>

    </div>



</script>