<!--ユーザー設定画面。ログインでも表示に使います。-->
<script id="page_about" type="text/template">

    <div class="page-notes">

		<h2 class="fs16 tc b mb40">みんなの日常にある音楽に"共鳴"する</h2>

		<p class="tc">
MusicDropsには、音楽ジャンルによる曲検索はありません。<br>
<br>
なぜなら、良い音楽とは、ジャンルの壁を越えて、世代をも超えて、<br>
<br>
もっと様々な人の心に届く可能性があると考えたからです。<br>
<br>
私たちは、人々が環境の一部としていつも聴いている音楽と、<br>
<br>
その時のキモチがシンクロした瞬間を、「ドロップ」という感想に込めて、<br>
<br>
気軽に共有しあえる方法を提供します。<br>
<br>
「ドロップ」をきっかけに、ユーザー自身の感性にあった音楽・アーティストを新しく知ったり、<br>
<br>
嗜好が近いユーザーのプレイリストを見つけることができます。<br>
<br>
今までにないほど手軽に、びっくりするほどシームレスに。<br>
<br>
音楽との新しい出会いを楽しんでください。<br>
<br><br><br><br>
team SYUNDAN<br>

		</p>

    </div>



</script>