<!-- Page: Artist -->
<script id="page_artist" type="text/template">


    <div class="pageArtist">

        
        <!--アーティストの詳細情報を表示-->
        <div class="artistInfoArea">

            <div class="infoArea">
                <img class="thumb" src="<%=repMusic.attributes.artwork_url%>" alt="<%=repMusic.attributes.title%>"/>
                <div class="info">
                    <div class="artistName"><%=repMusic.attributes.artist_name%></div>
                    <div class="description">みんながえらぶ【代表的なキモチ】</div>
                    <div class="feelingArea">
                        <i class="sprite-feeling feeling-<%=repFeelingId%>"></i>
                        <div class="feelingLabel"><%=_.getFeelingName(repFeelingId)%></div>
                    </div>
                </div>
            </div>

            <%if (_.alreadyArtistFollow(repMusic.attributes.artist_id)) {%>
                <div class="followButton hidden" data-event-click="followArtist">このアーティストをフォローする</div>
                <div class="followButton" data-event-click="unfollowArtist">アーティストフォローを解除する</div>
            <%} else {%>
                <div class="followButton" data-event-click="followArtist">このアーティストをフォローする</div>
                <div class="followButton hidden" data-event-click="unfollowArtist">アーティストフォローを解除する</div>
            <%}%>

        </div>


        <!--曲数表示-->
        <div class="numOfMusicArea">
            <span class="b">アーティストの楽曲一覧</span>
            <span id="numOfMusic" class="numOfMusic"><%=musicList.length%></span>&nbsp;曲
        </div>


        <!--曲のリスト表示-->
        <ul id="musicList" class="musicList clearfix">

            <%_.each(musicList, function (music, idx) {%>
                <li class="clearfix feeling-<%=music.attributes.feeling_id%>" data-idx="<%=idx%>" data-music-id="<%=music.attributes.id%>">
                    <img class="thumb" src="<%=music.attributes.artwork_url%>" alt="<%=music.attributes.title%>"/>
                    <div class="info">
                        <div class="title">
                            <a href="#music/<%=music.attributes.id%>"><%=music.attributes.title%> ▶</a>
                        </div>
                        <div class="numOfDrops"><%=music.attributes.pop_count || 0%>ドロップ</div>
                    </div>

                    <%if (_.alreadyPocket(music.attributes.id)) {%>
                        <div class="btn-PD btn-pocket hidden" data-event-click="addPocket">
                            <i class="ico-font ico-star"></i>
                            <span>ポケット</span>
                        </div>
                        <div class="btn-PD btn-pocket is-active" data-event-click="deletePocket">
                            <i class="ico-font ico-star"></i>
                            <span>ポケット</span>
                        </div>
                    <%} else {%>
                        <div class="btn-PD btn-pocket" data-event-click="addPocket">
                            <i class="ico-font ico-star"></i>
                            <span>ポケット</span>
                        </div>
                        <div class="btn-PD btn-pocket is-active hidden" data-event-click="deletePocket">
                            <i class="ico-font ico-star"></i>
                            <span>ポケット</span>
                        </div>
                    <%}%>

                    <button class="playBtn" data-event-click="playMusic">
                        <i class="ico-font ico-play"></i>
                    </button>
                    <button class="playBtn is-active hidden" data-event-click="pauseMusic">
                        <i class="ico-font ico-play-stop"></i>
                    </button>

                </li>
            <%});%>

        </ul>

    </div>

</script>


