<!--Footer Component-->
<script id="component_footer" type="text/template">
  <div class="footer-content">
    <ul class="footer-links gp">
      <li>
        <a href="#rules">利用規約</a>
      </li>
      <li>
        <a href="mailto:cs_music-drops@googlegroups.com?subject=%e3%81%8a%e5%95%8f%e3%81%84%e5%90%88%e3%82%8f%e3%81%9b&body=%e2%96%a0%e3%81%8a%e5%95%8f%e3%81%84%e5%90%88%e3%82%8f%e3%81%9b%e5%86%85%e5%ae%b9">お問い合わせ</a>
      </li>
    </ul>
    <p class="footer-notes fs12 lh18 mt35 mb20">※ 本サービスは、YouTubeにアップロードされている動画等を、YouTube API を利用して、当社のコンセプトに基づいて利用者が視聴することを目的に運営しております。<br>
動画等すべての知的所有権は著作者・団体に帰属しております。動画等そのものに関しては、直接アップロード元にお問い合わせください。</p>
    <p class="footer-copy fs10 tc">
      <small>Copyright Team SHUNDAN All Rights Reserved.</small>
    </p>
  </div><!-- /footer-content -->
</script>














