<!--Header Component-->
<script id="component_header" type="text/template">
  <div class="header-playGage">
    <div id="seekBar" class="value" style="width:0%;"></div><!--JSで長さを調整します-->
  </div><!-- /header-playGage -->

  <div class="header-content">
    <h1 class="header-logo">
      <a href="#" class="sprite-logo logo-headter ir">Music Drops</a>
    </h1>

    <div class="header-search gp">
      <a href="#music/search">
        <p class="fl">
          <i class="ico-font ico-search db fs20"></i>
          <span class="db mt5 fs12">さがす</span>
        </p>
      </a>
    </div><!-- /header-searchMenu -->

    <div class="header-playList">
      <p>再生リスト</p>
      <p id="mpPlaylistTitle" class="header-playList-title hidden gp" data-event-click="openPlaylistPopup"><!--JSで埋めます--></p>
    </div><!-- /header-searchMenu -->

    <div class="header-playMenu">
      <div class="ref">
        <button class="js-playMenu-prev header-playMenu-btn header-playMenu-btn-prev btn-mouse-action" data-event-click="prevMusic">
          <i class="ico-font ico-play-prev"></i>
        </button>
        <button class="js-playMenu-play header-playMenu-btn header-playMenu-btn-play btn-mouse-action" data-event-click="startMusic">
          <i class="ico-font ico-play"></i>
        </button>
        <button class="js-playMenu-play-stop header-playMenu-btn header-playMenu-btn-play btn-mouse-action hidden" data-event-click="pauseMusic">
          <i class="ico-font ico-play-stop"></i>
        </button>
        <button class="js-playMenu-next header-playMenu-btn header-playMenu-btn-next btn-mouse-action" data-event-click="nextMusic">
          <i class="ico-font ico-play-next"></i>
        </button>
        <div class="header-playMenu-song">
          <p id="mpMusicTitle" class="header-playMenu-song-title elps"><!--JSで埋めます--></p>
          <p id="mpArtistName" class="header-playList-song-artist elps"><!--JSで埋めます--></p>
          <p id="mpMusicTitleDefaultText" class="header-playMenu-song-title elps"><!--JSで埋めます--></p>
        </div><!-- /header-playMenu-song -->
        <button class="js-playMenu-movie header-playSubMenu-btn header-playSubMenu-btn-window btn-mouse-action" data-event-click="togglePlayerVisible">
          <i class="ico-font ico-image"></i>
        </button>
        <button class="js-playMenu-repeat header-playSubMenu-btn header-playSubMenu-btn-repeat btn-mouse-action" data-event-click="toggleRepeat">
          <i class="ico-font ico-repeat"></i>
        </button>
        <button class="js-playMenu-movie header-playSubMenu-btn header-playSubMenu-btn-shuffle btn-mouse-action" data-event-click="toggleShuffle">
          <i class="ico-font ico-shuffle"></i>
        </button>
      </div><!-- /ref -->
    </div><!-- /header-playMenu -->

    <div class="header-userMenu">
      <div class="ref">
        <div class="m-btn-PD">
          <a href="#" class="js-menu-pocket btn-PD btn-pocket btn-mouse-action" data-event-click="pocket">
            <i class="ico-font ico-star fs18"></i>
            <span>ポケット</span>
          </a>
          <a href="#" class="js-menu-drop btn-PD btn-drop btn-mouse-action" data-event-click="addDrop">
            <i class="ico-font ico-drop-write fs18"></i>
            <span>感想</span>
          </a>
          <a href="#mypage" class="js-menu-myList header-userMenu-btn header-userMenu-btn-myList btn-mouse-action">
            <i class="ico-font ico-list db fs18"></i>
            マイリスト
          </a>
          <a href="#timeline" class="js-menu-noti header-userMenu-btn header-userMenu-btn-noti btn-mouse-action">
            <i class="ico-font ico-mail db fs18"></i>
            タイムライン
          </a>
        </div><!-- /m-btn-PD -->
      </div><!-- /ref -->
    </div><!-- /header-searchMenu -->


    <div id="playlistPopup" class="header-playlist-content-popup-area fix hidden" data-event-click="closePlaylistPopup">
      <div class="header-playlist-content-popup-box ref mo">
        <div class="header-playlist-content-popup abs">
            <ul id="musicList" class="header-musicList" data-event-click="cancelEvent"><!--JSで中身を埋める--></ul>

        </div>
      </div>
    </div><!--header-playlist-content-popup-area-->



  </div><!-- /header-content -->
</script>


<script id="header_component_music_list" type="text/template">
  <%_.each(musicArray, function (music) {%>
    <%if (music.id === currentMusic.id) {%>
      <li class="header-musicList-item gp ref is-active" data-id="<%=music.id%>">
    <%} else {%>
      <li class="header-musicList-item gp ref" data-id="<%=music.id%>">
    <%}%>
      <img class="thumb fl" src="<%=music.artwork_url%>" alt="<%=music.title%>"/>
      <div class="fl mt10 ml10">
        <div class="title mb5 fs14 b elps">
          <%if (music.music_id) {%>
            <a href="#music/<%=music.music_id%>"><%=music.title%></div></a>
          <%} else {%>
            <%=music.title%></div>
          <%}%>
          <%if (music.artist_id) {%>
            <a href="#artist/<%=music.artist_id%>"<div class="artistName fs10 elps"><%=music.artist_name%></div></a>
          <%} else {%>
            <div class="artistName fs10 elps"><%=music.artist_name%></div>
          <%}%>
      </div>

      <%if (music.id === currentMusic.id) {%>
        <div class="header-musicList-btn abs hidden" data-event-click="playMusicAt">
          <i class="ico-font ico-play"></i>
        </div>
        <div class="header-musicList-btn abs" data-event-click="pauseMusicAt">
          <i class="ico-font ico-play-stop"></i>
        </div>
      <%} else {%>
        <div class="header-musicList-btn abs" data-event-click="playMusicAt">
          <i class="ico-font ico-play"></i>
        </div>
        <div class="header-musicList-btn abs hidden" data-event-click="pauseMusicAt">
          <i class="ico-font ico-play-stop"></i>
        </div>
      <%}%>
    </li>
  <%});%>
</script>

















