<!--Header Component-->
<script id="component_header" type="text/template">
  <div class="header-playGage">
    <div id="seekBar" class="value" style="width:0%;"></div><!--JSで長さを調整します-->
  </div><!-- /header-playGage -->

  <div class="header-content">
    <h1 class="header-logo">
      <a href="/" class="db Courgette">Music<br>Drops</a>
    </h1>  

    <div class="header-searchMenu gp">
      <p class="fl">さがす</p>
      <div class="header-searchMenu-btn fr">
        <i class="ico-font ico-below"></i>
      </div>
    </div><!-- /header-searchMenu -->

    <div class="header-playList">
      <p>再生リスト</p>
      <p id="mpPlaylistTitle" class="header-playList-title">新着一覧</p>
    </div><!-- /header-searchMenu -->

    <div class="header-playMenu">
      <div class="ref">
        <button class="js-playMenu-prev header-playMenu-btn header-playMenu-btn-prev" data-event-click="prevMusic">
          <i class="ico-font ico-play-prev"></i>
        </button>
        <button class="js-playMenu-play header-playMenu-btn header-playMenu-btn-play" data-event-click="startMusic">
          <i class="ico-font ico-play"></i>
        </button>
        <button class="js-playMenu-play-stop header-playMenu-btn header-playMenu-btn-play hidden" data-event-click="pauseMusic">
          <i class="ico-font ico-play-stop"></i>
        </button>
        <button class="js-playMenu-next header-playMenu-btn header-playMenu-btn-next" data-event-click="nextMusic">
          <i class="ico-font ico-play-next"></i>
        </button>
        <div class="header-playMenu-song">
          <p id="mpMusicTitle" class="header-playMenu-song-title elps">もっとずっと一緒にいたかった…</p>
          <p id="mpArtistName" class="header-playList-song-artist elps">by Berrys</p>
        </div><!-- /header-playMenu-song -->
        <button class="js-playMenu-movie header-playSubMenu-btn header-playSubMenu-btn-window" data-event-click="togglePlayerVisible">
          <i class="ico-font ico-image"></i>
        </button>
        <button class="js-playMenu-repeat header-playSubMenu-btn header-playSubMenu-btn-repeat">
          <i class="ico-font ico-repeat"></i>
        </button>
        <button class="js-playMenu-movie header-playSubMenu-btn header-playSubMenu-btn-shuffle">
          <i class="ico-font ico-shuffle"></i>
        </button>
      </div><!-- /ref -->
    </div><!-- /header-playMenu -->

    <div class="header-menu">
      <div class="ref">
        <div class="m-btn-PD">
          <a href="#" class="js-menu-pocket btn-PD btn-pocket" data-event-click="pocket">
            <i class="ico-font ico-star"></i>
            <span>ポケット</span>
          </a>
          <a href="#" class="js-menu-drop btn-PD btn-drop">
            <i class="ico-font ico-drop"></i>
            <span>ドロップ</span>
          </a>
          <a href="#mypage" class="js-menu-myList header-menu-btn header-menu-btn-myList">
            マイリスト
          </a>
          <a href="#timeline" class="js-menu-noti header-menu-btn header-menu-btn-noti">
            お知らせ
          </a>
        </div><!-- /m-btn-PD -->
      </div><!-- /ref -->
    </div><!-- /header-searchMenu -->


    <div class="header-playlist-content-popup">
      
    </div><!--header-playlist-content-popup-->



  </div><!-- /header-content -->
</script>


















