

<script id="page_login" type="text/template">
    <h1 class="text-center">Login</h1>
    <div class="mt20">
        <form>
            <input id="userId" type="text" name="user_id" class="block mlra" value=""/>
            <input id="password" type="password" name="password" class="block mlra" value=""/>
        </form>
        <div class="displayWboxAcPc">
            <div id="loginBtn" class="btn">Login</div>
        </div>
        <a href="#" class="block mt10 text-center" onclick="sessionStorage.removeItem('user'); location.href='/auth/google'; return false;">Login With Google</a>
        <a href="#" class="block mt10 text-center" onclick="sessionStorage.removeItem('user'); location.href='/auth/facebook'; return false;">Login With Facebook</a>
        <a href="#" class="block mt10 text-center" onclick="sessionStorage.removeItem('user'); location.href='/auth/twitter'; return false;">Login With Twitter</a>
    </div>
</script>
