

<script id="page_login" type="text/template">
    <div class="page-login">
        <h2 class="sprite-logo logo-l logo-login db mo mb40 ir">Music Drops</h2>
        <!-- // リリース時は無し
        <div class="page-login-service mb40">
            <p class="ml10 mb10">サービスのログインIDを作成する</p>
            <form>
                <input id="userId" type="text" name="user_id" class="form form-color-base mlra" value="" placeholder="ユーザーID" />
                <input id="password" type="password" name="password" class="form form-color-base mlra" value=""  placeholder="パスワード" />
                <a id="loginBtn" class="btn-text btn-text-back btn-text-size-l btn-text-color-brown-02 db tc mo" href="#">Login</a>
            </form>
        </div>
        -->
        <div class="page-login-sns">
            <p class="ml10 mb10">SNSアカウントでログインする</p>
            <a href="#" class="btn-text btn-text-back btn-text-arrow-left btn-text-arrow-right btn-text-size-l btn-text-color-fb tc" onclick="sessionStorage.removeItem('user'); location.href='/auth/facebook'; return false;">Facebookから登録する</a>
            <a href="#" class="btn-text btn-text-back btn-text-arrow-left btn-text-arrow-right btn-text-size-l btn-text-color-tw tc" onclick="sessionStorage.removeItem('user'); location.href='/auth/twitter'; return false;">Twitterから登録する</a>
            <a href="#" class="btn-text btn-text-back btn-text-arrow-left btn-text-arrow-right btn-text-size-l btn-text-color-google tc" onclick="sessionStorage.removeItem('user'); location.href='/auth/google'; return false;">Googleから登録する</a>
        </div>
    </div>
</script>
