
<!-- Page: Music Detail Page  -->
<script id="page_music_detail" type="text/template">
    <div class="gp">
        <div id="musicInfoArea" class="musicDetail fl"></div>
    </div>
    <ul class="tab-02 gp mt30">
        <li class="tab-02-btn active">
            <a class="tab-02-btn-item" href="#musicLinkListArea" data-toggle="tab">全曲再生ソース</a>
        </li>
        <li class="tab-02-btn">
            <a class="tab-02-btn-item" href="#popListArea" data-toggle="tab">他のドロップ(999件)</a>
        </li>
    </ul>

    <div class="tab-content tab-02-content">
        <div class="tab-pane active" id="musicLinkListArea"></div>
        <div class="tab-pane" id="popListArea"></div>
        <div class="btn-text btn-text-back btn-text-color-brown mt10" data-event="addPop">Popを追加する</div>
    </div>
</script>


<!-- Parts: Music Info  -->
<script id="page_music_detail_info" type="text/template">
    <div class="gp">
        <div class="musicDetail-thumb mrm fl">
            <img src="<%= artwork_url %>" width="140" height="140" alt="<%- title %> / <%- artist_name %>" />
            <p><audio src="<%= song_url %>" controls></audio></p>
            <% if (itunes_url) { %>
                <p><a href="http://click.linksynergy.com/fs-bin/click?id=L4*5Z7Ih6j8&subid=&offerid=94348.1&type=10&tmpid=3910&RD_PARM1=<%- itunes_url %>" target="_blank">iTunesで曲を見る</a></p>
            <% } %>
        </div>
        <div class="musicDetail-info fl">
            <h2 class="musicDetail-info-title"><%- title %></h2>
            <p class="musicDetail-info-artist">
                <a href="#artist/<%=artist_id%>"><%- artist_name %></a>
            </p>
            <button class="musicDetail-info-play-btn">
                <i class="ico-font ico-play"></i>
            </button>

            <div class="musicDetail-action gp">
              <div class="tag-feeling ref">
                  <i class="sprite-feeling feeling-1"></i>
                  <p class="tag-feeling-text">テンションがあがる</p>
              </div>
              <div class="m-btn-PD">
                <% _.each(feelings, function (feeling) { %>
                    <!-- <div class="btn mb5" data-event="addPocket" data-feeling-id="<%-feeling.id%>"><%-feeling.name%></div> -->
                <% }); %>
                <%if (_.alreadyPocket(id) === false) {%>
                <div class="js-menu-pocket btn-PD btn-pocket" data-event="addPocket" data-feeling-id="0">
                    <i class="ico-font ico-star"></i>
                    <span>ポケット</span>
                </div>
                <%} else {%>
                <div class="js-menu-pocket btn-PD btn-pocket" data-event="deletePocket" data-feeling-id="0">
                    <i class="ico-font ico-star"></i>
                    <span>解除</span>
                </div>
                <%}%>
                <div class="js-menu-drop btn-PD btn-drop">
                    <i class="ico-font ico-drop"></i>
                    <span>ドロップ</span>
                </div>
              </div>
                
            </div>
        </div>


    </div>
        <div class="musicDetail-otherLinks">
          <i class="musicDetail-otherLinks-service sprite-share share-youtube"></i>
          <a class="musicDetail-otherLinks-link text-link" href="http://click.linksynergy.com/fs-bin/click?id=L4*5Z7Ih6j8&amp;subid=&amp;offerid=94348.1&amp;type=10&amp;tmpid=3910&amp;RD_PARM1=https://itunes.apple.com/jp/album/galaxy-supernova/id694237906?i=694238039&amp;uo=2" target="_blank">iTunesでこの曲を購入する<i class="ico-font ico-play"></i></a>
        </div>
        <div class="musicDetail-pop">
          <p class="musicDetail-pop-user b">
            <a class="text-link" href="#user/8">よーへい<i class="ico-font ico-play"></i></a>
          </p>
          <p class="musicDetail-pop-text">Topページで再生テストするためのテストDropです。</p>
        </div>
        <div class="musicDetail-user-action gp">
          <button class="js-follow-btn musicDetail-user-action-btn musicDetail-user-action-btn-follow">
            <i class="ico-font ico-follow"></i>
          </button>
          <button class="js-like-btn musicDetail-user-action-btn musicDetail-user-action-btn-like is-active">
            <i class="ico-font ico-heart"></i>
          </button>
        </div>
</script>

<!-- Parts: Music Page's Pop List -->
<script id="page_music_detail_poplist" type="text/template">
    <table class="musicLink-table">
        <thead>
            <tr>
                <th width="25%">ユーザー</th>
                <th width="15%">キモチ</th>
                <th width="60%">コメント</th>
            </tr>
        </thead>
        <tbody>
        <% _.each(popList, function (pop) {  %>
            <tr>
                <td><a class="text-link" href="#user/<%=pop.attributes.user_id%>"><%- pop.attributes.user_name %><i class="ico-font ico-play"></i></a></td>
                <td data-feeling-id="<%=pop.attributes.feeling_id%>"><%=_.getFeelingName(pop.attributes.feeling_id)%></td>
                <td><%- pop.attributes.comment  %></td>
            </tr>
        <% }); %>
        </tbody>
    </table>
</script>


<!-- 関連リンク集 -->
<script id="page_music_detail_music_links" type="text/template">
    <p class="mb10">URLを追加するとリンクされた曲をMusic-Dropsで聴けるようになります。</p>
    <div class="add-musicLink mb10">
        <div class="form form-color-base" contenteditable="true" data-type="link">Youtubeなどの動画リンクを入力</div>
        <div class="form form-color-base" contenteditable="true" data-type="comment">動画の説明やコメント</div>
        <div id="addLink" class="btn-text btn-text-back btn-text-color-brown">ADD</div>
    </div>
    <table class="musicLink-table">
        <caption>登録済みのリンク</caption>
        <thead>
            <tr>
                <th width="25%">ユーザー</th>
                <th width="25%">コメント</th>
                <th width="50%">動画URL</th>
            </tr>
        </thead>
        <tbody>
            <% _.each(musicLinkList, function (musicLink) { %>
            <tr>
                <td>
                    <a class="text-link" href="#user/<%-musicLink.attributes.user_id%>"><%=musicLink.attributes.user_name%><i class="ico-font ico-play"></i></a>
                    </td>
                <td>
                    <%- musicLink.attributes.comment %>
                </td>
                <td class="gp">
                    <div class="musicLink-url mb10">
                        <% if (musicLink.attributes.youtube_id) { %>
                        <a class="text-link" href="<%- musicLink.attributes.link %>" target="_blank" data-event="playYoutube" data-youtube-id="<%- musicLink.attributes.youtube_id %>">
                            <span class="elps"><%- musicLink.attributes.link %></span><i class="ico-font ico-play"></i>
                        </a>
                        <% } else { %>
                        <a class="text-link" href="<%- musicLink.attributes.link %>" target="_blank">
                            <span class="elps"><%- musicLink.attributes.link %></span><i class="ico-font ico-play"></i>
                        </a>
                        <% } %>
                    </div>
                    <div class="musicLink-edit fr">
                        <a id="" class="btn-text btn-text-back btn-text-color-brown" href="#">編集</a>
                        <a id="" class="btn-text btn-text-back btn-text-color-brown" href="#">削除</a>
                        <a id="" class="btn-text btn-text-back btn-text-color-brown" href="#">報告</a>
                        <%if (_.alreadyPocket(musicLink.attributes.music_id) === false) {%>
                        <div id="" class="btn-text btn-text-back btn-text-color-brown" data-event="addPocket" data-feeling-id="0" data-youtube-id="<%=musicLink.attributes.youtube_id%>" data-link-id="<%=musicLink.attributes.id%>">URLをポケット</div>
                        <%} else {%>
                        <div id="" class="btn-text btn-text-back btn-text-color-brown" data-event="deletePocket" data-feeling-id="0" data-youtube-id="<%=musicLink.attributes.youtube_id%>" data-link-id="<%=musicLink.attributes.id%>">Pocket解除</div>
                        <%}%>
                    </div>
                </td>
            </tr>
            <% }); %>
        </tbody>
    </table>
</script>


























