
<!-- Page: Music Detail Page  -->
<script id="page_music_detail" type="text/template">
    <div class="gp">
        <div id="musicInfoArea" class="musicDetail bdr-4 ofh fl"></div>
    </div>
    <ul class="tab-02 gp mt30">
        <li class="tab-02-btn active">
            <a class="tab-02-btn-item" href="#musicLinkListArea" data-toggle="tab">全曲再生ソース</a>
        </li>
        <li class="tab-02-btn">
            <a class="tab-02-btn-item" href="#popListArea" data-toggle="tab">他のドロップ<span id="numOfOtherPop"></span></a>
        </li>
    </ul>

    <div class="tab-content tab-02-content">
        <div class="tab-pane active" id="musicLinkListArea"></div>
        <div class="tab-pane" id="popListArea"></div>
    </div>
</script>


<!-- Parts: Music Info  -->
<script id="page_music_detail_info" type="text/template">
    <div class="gp">
        <div class="musicDetail-thumb mrm fl">
            <img src="<%= artwork_url %>" width="140" height="140" alt="<%- title %> / <%- artist_name %>" />
            <p><audio src="<%= song_url %>" controls></audio></p>
            <% if (itunes_url) { %>
                <p><a href="http://click.linksynergy.com/fs-bin/click?id=L4*5Z7Ih6j8&subid=&offerid=94348.1&type=10&tmpid=3910&RD_PARM1=<%- itunes_url %>" target="_blank" onclick="_gaq.push(['_trackEvent', 'toItunes1', '<%=title%>']);">iTunesで曲を見る</a></p>
            <% } %>
            <i class="musicDetail-thumb-service sprite-share share-youtube"></i>
        </div>
        <div class="musicDetail-info fl">
            <h2 class="musicDetail-info-title mb5 fs16 lh22 b"><%- title %></h2>
            <p class="musicDetail-info-artist mb15 lh14">
                <a class="text-link" href="#artist/<%=artist_id%>"><%- artist_name %></a>
            </p>
            <%if (repPop) {%>
            <a class="musicDetail-otherLinks-link fs10 text-link" href="http://click.linksynergy.com/fs-bin/click?id=L4*5Z7Ih6j8&amp;subid=&amp;offerid=94348.1&amp;type=10&amp;tmpid=3910&amp;RD_PARM1=<%=repPop.attributes.itunes_url%>" target="_blank">iTunesでこの曲を購入する</a>
            <%}%>
            <div id="playBtnArea">
                <button class="musicDetail-info-play-btn" data-event-click="playMusic">
                    <i class="ico-font ico-play"></i>
                </button>
                <button class="musicDetail-info-play-btn hidden" data-event-click="pauseMusic">
                    <i class="ico-font ico-play-stop"></i>
                </button>
            </div>

            <div class="musicDetail-action gp">
              <div class="tag-feeling ref">
                  <p class="tag-feeling-text feeling-bg-<%-feeling_id%> fs12 tc dt bdr-4">
                      <span class="dc vm"><%-_.getFeelingName(feeling_id)%></span>
                  </p>
              </div>
              <div class="m-btn-PD">
                <%if (_.alreadyPocket(id) === false) {%>
                    <div class="js-menu-pocket btn-PD btn-pocket" data-event-click="addPocket" data-feeling-id="0">
                        <i class="ico-font ico-star"></i>
                        <span>ポケット</span>
                    </div>
                    <div class="js-menu-pocket btn-PD btn-pocket hidden" data-event-click="deletePocket" data-feeling-id="0">
                        <i class="ico-font ico-star"></i>
                        <span>解除</span>
                    </div>
                <%} else {%>
                    <div class="js-menu-pocket btn-PD btn-pocket hidden" data-event-click="addPocket" data-feeling-id="0">
                        <i class="ico-font ico-star"></i>
                        <span>ポケット</span>
                    </div>
                    <div class="js-menu-pocket btn-PD btn-pocket" data-event-click="deletePocket" data-feeling-id="0">
                        <i class="ico-font ico-star"></i>
                        <span>解除</span>
                    </div>
                <%}%>
                <div class="js-menu-drop btn-PD btn-drop" data-event-click="addPop">
                    <i class="ico-font ico-drop"></i>
                    <span>ドロップ</span>
                </div>
              </div>

            </div>
        </div>


    </div>
        <div class="musicDetail-pop">
          <%if (repPop) {%>
              <p class="musicDetail-pop-text"><%=repPop.attributes.comment%></p>
          <%}%>
        </div>
        <%if (repPop) {%>
            <div class="musicDetail-user gp">
                <a class="musicDetail-user-name text-link truncate lh18 ds b fl" href="#user/<%=repPop.attributes.user_id%>"><%=repPop.attributes.user_name%></a>
              <%if (_.alreadyLike(repPop.attributes.id)) {%>
                  <a class="fs18 fr hidden" data-event-click="likePop" title="ナイスドロップ！">
                    <i class="ico-font ico-heart"></i>
                  </a>
                  <a class="fs18 fr is-active" data-event-click="dislikePop">
                    <i class="ico-font ico-heart"></i>
                  </a>
              <%} else {%>
                  <a class="fs18 fr" data-event-click="likePop" title="ナイスドロップ！">
                    <i class="ico-font ico-heart"></i>
                  </a>
                  <a class="fs18 fr is-active hidden" data-event-click="dislikePop">
                    <i class="ico-font ico-heart"></i>
                  </a>
              <%}%>
              <%if (_.alreadyUserFollow(repPop.attributes.user_id)) {%>
                  <a class="mr20 fs18 fr" data-event-click="followUser">
                    <i class="ico-font ico-follow"></i>
                  </a>
                  <a class="mr20 fs18 fr hidden is-active" data-event-click="unfollowUser">
                    <i class="ico-font ico-follow"></i>
                  </a>
              <%} else {%>
                  <a class="mr20 fs18 fr" data-event-click="followUser">
                    <i class="ico-font ico-follow"></i>
                  </a>
                  <a class="mr20 fs18 fr hidden is-active" data-event-click="unfollowUser">
                    <i class="ico-font ico-follow"></i>
                  </a>
              <%}%>
            </div>
        <%}%>
</script>

<!-- Parts: Music Page's Pop List -->
<script id="page_music_detail_poplist" type="text/template">
    <table class="musicLink-table">
        <thead>
            <tr>
                <th width="25%">ユーザー</th>
                <th width="15%">キモチ</th>
                <th width="55%">コメント</th>
                <th width="5%"></th>
            </tr>
        </thead>
        <tbody>
        <% _.each(popList, function (pop) {  %>
            <tr>
                <td><a class="text-link" href="#user/<%=pop.attributes.user_id%>"><%- pop.attributes.user_name %></a></td>
                <td data-feeling-id="<%=pop.attributes.feeling_id%>"><%=_.getFeelingName(pop.attributes.feeling_id)%></td>
                <td><%- pop.attributes.comment  %></td>
                <td data-pop-id="<%=pop.attributes.id%>">
                    <%if (_.alreadyLike(pop.attributes.id)) {%>
                        <a href="#" class="like-btn hidden" data-event-click="likePop2" title="ナイスドロップ！">
                            <i class="ico-font ico-heart"></i>
                        </a>
                        <a href="#" class="like-btn is-active" data-event-click="dislikePop2" title="ナイスドロップ！">
                            <i class="ico-font ico-heart"></i>
                        </a>
                    <%} else {%>
                        <a href="#" class="like-btn" data-event-click="likePop2" title="ナイスドロップ！">
                            <i class="ico-font ico-heart"></i>
                        </a>
                        <a href="#" class="like-btn is-active hidden" data-event-click="dislikePop2" title="ナイスドロップ！">
                            <i class="ico-font ico-heart"></i>
                        </a>
                    <%}%>
                </td>
            </tr>
        <% }); %>
        </tbody>
    </table>
</script>


<!-- 関連リンク集 -->
<script id="page_music_detail_music_links" type="text/template">
    <p class="mb10">URLを追加するとリンクされた曲をMusic-Dropsで聴けるようになります。</p>
    <div class="add-musicLink mb10">
        <input type="text" class="form form-color-base" data-type="link" placeholder="Youtubeなどのリンクを入力してください"/>
        <input type="text" class="form form-color-base" data-type="comment" placeholder="リンクの説明やコメントを入力してください"/>
        <div class="btn-text btn-text-back btn-text-color-brown" data-event-click="addLink">追加する</div>
    </div>
    <table class="musicLink-table">
        <caption>登録済みのリンク</caption>
        <thead>
            <tr>
                <th width="25%">ユーザー</th>
                <th width="25%">コメント</th>
                <th width="50%">動画URL</th>
            </tr>
        </thead>
        <tbody>
            <% _.each(musicLinkList, function (musicLink) { %>
            <tr data-musiclink-id="<%=musicLink.attributes.id%>">
                <td>
                    <a class="text-link" href="#user/<%-musicLink.attributes.user_id%>"><%=musicLink.attributes.user_name%></a>
                    </td>
                <td>
                    <%- musicLink.attributes.comment %>
                </td>
                <td class="gp">
                    <div class="musicLink-url mb10">
                        <% if (musicLink.attributes.youtube_id) { %>
                        <a class="text-link" href="<%- musicLink.attributes.link %>" target="_blank" data-event-click="playYoutube" data-musiclink-id="<%- musicLink.attributes.id %>">
                            <span class="elps"><%- musicLink.attributes.link %></span>
                        </a>
                        <% } else { %>
                        <a class="text-link" href="<%- musicLink.attributes.link %>" target="_blank">
                            <span class="elps"><%- musicLink.attributes.link %></span>
                        </a>
                        <% } %>
                    </div>
                    <div class="musicLink-edit fr" data-musiclink-id="<%=musicLink.attributes.id%>">
                        <%if (_.mbStorage.getUserId() === musicLink.attributes.user_id) {%>
                            <a class="btn-text btn-text-back btn-text-color-brown" href="#" data-event-click="deleteLink">削除</a>
                        <%}%>
                        <a id="" class="btn-text btn-text-back btn-text-color-brown" href="#" data-event-click="report">リンク切れを報告</a>
                        <%if (_.alreadyPocket(musicLink.attributes.music_id) === false) {%>
                        <div id="" class="btn-text btn-text-back btn-text-color-brown" data-event-click="addPocket" data-youtube-id="<%=musicLink.attributes.youtube_id%>" data-link-id="<%=musicLink.attributes.id%>">URLをポケット</div>
                        <div id="" class="btn-text btn-text-back btn-text-color-brown hidden" data-event-click="deletePocket" data-youtube-id="<%=musicLink.attributes.youtube_id%>" data-link-id="<%=musicLink.attributes.id%>">Pocket解除</div>
                        <%} else {%>
                        <div id="" class="btn-text btn-text-back btn-text-color-brown hidden" data-event-click="addPocket" data-youtube-id="<%=musicLink.attributes.youtube_id%>" data-link-id="<%=musicLink.attributes.id%>">URLをポケット</div>
                        <div id="" class="btn-text btn-text-back btn-text-color-brown" data-event-click="deletePocket" data-youtube-id="<%=musicLink.attributes.youtube_id%>" data-link-id="<%=musicLink.attributes.id%>">Pocket解除</div>
                        <%}%>
                    </div>
                </td>
            </tr>
            <% }); %>
        </tbody>
    </table>
</script>


























