

<!-- Mypage -->
<script id="page_mypage" type="text/template">

    <!--タイトル-->
    <h1 class="text-center">My List</h1>

    <div class="pageMypage clearfix">
        <div class="leftCol">

            <!--タイトル：ユーザー名、保有曲数-->
            <div class="playlistHeader">
                <span class="fs18"><%=user.name%></span>
                <span>/</span>
                <span id="numOfPockets" class="fs32">0</span>
                <span class="fs18">曲</span>
            </div>
            <!--マイドロップ、チェックアーティスト、ユーザーフォロ-->
            <ul class="sidebarList">
                <li data-event-click="showMyDrops">マイドロップ一覧</li>
                <li data-event-click="showCheckArtists">チェックアーティスト</li>
                <li data-event-click="showFollowUsers">フォローしているユーザー</li>
                <li data-event-click="showFollowedUsers">フォローされているユーザー</li>
            </ul>

            <!--自分のプレイリスト-->
            <div id="playlistEditArea" class="listEditArea">
                <div class="playlistHeader mt30">
                    <span class="fs18">自分でつくったプレイリスト</span>
                    <a href="#" class="editButton" data-event-click="switchPlaylistEditStyle">編集</a>
                    <a href="#" class="doneButton" data-event-click="switchPlaylistEditStyle">完了</a>
                </div>
                <ul id="playlistList" class="sidebarList"><!--プレイリストをJSで追加--></ul>
                <div class="addPlaylistArea">
                    <input id="playlistTitle" type="text" value="" placeholder="+ 新しいプレイリスト名"/>
                    <input type="button" value="追加" class="addPlaylistBtn" data-event-click="addPlaylist"/>
                </div>
            </div>


            <!--他人のプレイリスト-->
            <div class="playlistHeader mt30">
                <span class="fs18">他の人がつくったプレイリスト</span>
                <a href="#" class="editButton">編集</a>
            </div>
            <ul class="sidebarList edit">
                <li>
                    <a href="#">涙ながれるBGM (10)</a>
                    <a href="#" class="clearBtn">×</a>
                </li>
                <li>
                    <a href="#">眠い朝に聞きたい曲 (2)</a>
                    <a href="#" class="clearBtn">×</a>
                </li>
                <li>
                    <a href="#">テクノでノリノリ (44)</a>
                    <a href="#" class="clearBtn">×</a>
                </li>
            </ul>


        </div>




        <!--右Colのデータ表示部分-->
        <div class="rightCol" data-type="dataArea">
        </div>


    </div>



</script>






<!--マイPop一覧-->
<script id="page_mypage_mypop_list" type="text/template">
    <%if (popList.length > 0) {%>
        <%_.each(popList, function (pop) {%>
            <%=pop.attributes.id%>,
            <%=pop.attributes.comment%>
            <br>
        <%});%>
    <%} else {%>
        ないよー
    <%}%>
</script>


<!--チェックアーティスト一覧-->
<script id="page_mypage_check_artists" type="text/template">
    <%if (checkArtists.length > 0) {%>
        <%_.each(checkArtists, function (checkArtist) {%>
            <%=checkArtist.attributes.id%>,
            <%=checkArtist.attributes.artist_name%>
            <br>
        <%});%>
    <%} else {%>
        ないよー
    <%}%>
</script>


<!--フォローしているユーザー一覧-->
<script id="page_mypage_follow_users" type="text/template">
    <%if (followUsers.length > 0) {%>
        dest_user_id,dest_user_name<br>
        <%_.each(followUsers, function (user) {%>
            <%=user.attributes.dest_user_id%>,
            <%=user.attributes.dest_user_name%><br>
        <%});%>
    <%} else {%>
        ないよー
    <%}%>
</script>


<!--フォローされてるユーザー一覧-->
<script id="page_mypage_followed_users" type="text/template">
    <%if (followedUsers.length > 0) {%>
        user_id,user_name<br>
        <%_.each(followedUsers, function (user) {%>
            <%=user.attributes.user_id%>,
            <%=user.attributes.user_name%><br>
        <%});%>
    <%} else {%>
        ないよー
    <%}%>
</script>


<!--Pocket一覧-->
<script id="page_mypage_user_pocket_list" type="text/template">
    <!--絞り込み機能-->
    <div class="filterArea">
        <input type="text" class="filterByNameInput"/>
        <input type="button" class="filterByNameBtn" value="絞り込み"/>
        <div class="selectArea">
            <select class="filterByFeelingSelect">
                <option value="0"></option>
                <%_.each(feelings, function (feeling) {%>
                    <option value="<%=feeling.id%>"><%=feeling.name%></option>
                <%});%>
            </select>
        </div>
    </div>

    <!--Pocketリスト-->
    <ul class="pocketListArea clearfix">
        <%_.each(pocketList, function (pocket) {%>
            <li class="feeling-<%=pocket.attributes.feeling_id%>" data-pocket-id="<%=pocket.attributes.id%>">
                <img class="thumb" src="<%=pocket.attributes.artwork_url%>" alt="<%=pocket.attributes.title%>"/>
                <div class="info">
                    <div class="title">
                        <a href="#music/<%=pocket.attributes.music_id%>"><%=pocket.attributes.title%></a>
                    </div>
                    <div class="artistName">
                        <a href="#artist/<%=pocket.attributes.artist_id%>"><%=pocket.attributes.artist_name%></a>
                    </div>
                </div>
                <div class="playBtn" data-event-click="playMusic">▶</div>
            </li>
        <%});%>

    </ul>

</script>



<!--ユーザープレイリスト一覧-->
<script id="page_mypage_playlist" type="text/template">
    <%_.each(playlists, function (playlist) {%>
        <li data-playlist-id="<%=playlist.attributes.id%>" data-event-click="showPlaylist">
            <%=playlist.attributes.title%> (<%=JSON.parse(playlist.attributes.user_pocket_ids).length%>)
            <%if (playlist.attributes.type !== 1) {%>
                <a href="#" class="clearBtn" data-event-click="deletePlaylist">×</a>
            <%}%>
        </li>

    <%});%>
</script>















































