

<!-- Mypage -->
<script id="page_mypage" type="text/template">

    <div class="pageMypage gp">


        <!--PlaylistからPocket削除エリア-->
        <div id="pocketDeleteArea" class="pocketDeleteArea hidden">DropしてPlaylistから削除</div>


        <div class="userPage-leftCol fl fix">

            <!--タイトル：ユーザー名、保有曲数-->
            <div class="userPage-playlistHeader">
                <span class="fs18"><%=user.name%></span>
                <span>/</span>
                <span id="numOfPockets" class="fs32">0</span>
                <span class="fs18">曲</span>
            </div>
            <!--マイドロップ、チェックアーティスト、ユーザーフォロ-->
            <ul class="userPage-sidebarList">
                <li class="userPage-sidebarList-item" data-event-click="showMyDrops">マイドロップ一覧&nbsp;<span id="numOfMyDrops"></span></li>
                <li class="userPage-sidebarList-item" data-event-click="showCheckArtists">フォローしているアーティスト&nbsp;<span id="numOfCheckArtists"></span></li>
                <li class="userPage-sidebarList-item" data-event-click="showFollowUsers">フォローしているユーザー&nbsp;<span id="numOfFollowUsers"></span></li>
                <li class="userPage-sidebarList-item" data-event-click="showFollowedUsers">フォローされているユーザー&nbsp;<span id="numOfFollowedUsers"></span></li>
            </ul>

            <!--自分のプレイリスト-->
            <div id="playlistEditArea" class="userPage-listEditArea">
                <div class="userPage-playlistHeader mt30">
                    <span class="fs18">自分でつくったプレイリスト</span>
                    <a href="#" class="editButton" data-event-click="switchPlaylistEditStyle">編集</a>
                    <a href="#" class="doneButton" data-event-click="switchPlaylistEditStyle">完了</a>
                </div>
                <ul id="playlistList" class="userPage-sidebarList"><!--プレイリストをJSで追加--></ul>
                <div class="addPlaylistArea">
                    <input id="playlistTitle" type="text" value="" placeholder="+ 新しいプレイリスト名"/>
                    <input type="button" value="追加" class="addPlaylistBtn" data-event-click="addPlaylist"/>
                </div>
            </div>


            <!--他人のプレイリスト-->
            <div class="userPage-playlistHeader mt30">
                <span class="fs18">他の人がつくったプレイリスト</span>
                <a href="#" class="editButton" data-event-click="editFollowPlaylistButton">編集</a>
            </div>
            <ul id="followPlaylist" class="userPage-sidebarList"><!--JSで内容を追加--></ul>


        </div>




        <!--右Colのデータ表示部分-->
        <div class="userPage-rightCol fr" data-type="dataArea"><!--JSで内容を設定する--></div>


    </div>



</script>






<!--マイPop一覧-->
<script id="page_mypage_mypop_list" type="text/template">
    <ul class="followArtistList list">
        <%if (popList.length > 0) {%>
            <%_.each(popList, function (pop) {%>
                <li class="list-item gp" data-pop-id="<%=pop.attributes.id%>">
                    <p class="fs14 mb10"><%=pop.attributes.comment%></p>
                    <img class="thumb fl mr10" src="<%=pop.attributes.artwork_url%>" alt="<%=pop.attributes.title%>" width="44" height="44" />
                    <div class="info">
                        <div class="mt20 mb5">
                            <a class="b text-link" href="#music/<%=pop.attributes.music_id%>"><%=pop.attributes.title%><i class="ico-font ico-play"></i></a>
                        </div>
                        <div class="fs10">
                            <a class="text-link" href="#artist/<%=pop.attributes.artist_id%>"><%=pop.attributes.artist_name%><i class="ico-font ico-play"></i></a>
                        </div>
                    </div>
                    <div class="info fr">
                        <a id="" class="btn-text btn-text-back btn-text-color-brown" href="#">編集</a>
                        <a id="" class="btn-text btn-text-back btn-text-color-brown" href="#">削除</a>
                    </div>
                </li>
            <%});%>
        <%} else {%>
            <li class="list-item message">Dropの投稿はありません</li>
        <%}%>
    </ul>
</script>


<!--チェックアーティスト一覧-->
<script id="page_mypage_check_artists" type="text/template">

    <ul class="followArtistList list">
        <%if (checkArtists.length > 0) {%>
            <%_.each(checkArtists, function (checkArtist) {%>



                <li class="list-item" data-artist-id="<%=checkArtist.attributes.artist_id%>">
                    <a class="userName" href="#artist/<%=checkArtist.attributes.artist_id%>"><%=checkArtist.attributes.artist_name%></a>

                    <%if (_.alreadyArtistFollow(checkArtist.attributes.artist_id)) {%>
                        <input type="button" class="followUserButton hidden" value="フォローする" data-event-click="followArtist"/>
                        <input type="button" class="unfollowUserButton" value="フォロー解除" data-event-click="unfollowArtist"/>
                    <%} else {%>
                        <input type="button" class="followUserButton" value="フォローする" data-event-click="followArtist"/>
                        <input type="button" class="unfollowUserButton hidden" value="フォロー解除" data-event-click="unfollowArtist"/>
                    <%}%>
                </li>


                <br>
            <%});%>
        <%} else {%>
            <li class="list-item message">フォローしているアーティストはいません</li>
        <%}%>
    </ul>

</script>


<!--フォローしているユーザー一覧-->
<script id="page_mypage_follow_users" type="text/template">

    <ul class="followUserList list">
        <%if (followUsers.length > 0) {%>

            <%_.each(followUsers, function (user) {%>
                <li class="list-item" data-user-id="<%=user.attributes.dest_user_id%>">
                    <a class="userName" href="#user/<%=user.attributes.dest_user_id%>"><%=user.attributes.dest_user_name%></a>

                    <%if (_.alreadyUserFollow(user.attributes.dest_user_id)) {%>
                        <input type="button" class="followUserButton hidden" value="フォローする" data-event-click="followUser"/>
                        <input type="button" class="unfollowUserButton" value="フォロー解除" data-event-click="unfollowUser"/>
                    <%} else {%>
                        <input type="button" class="followUserButton" value="フォローする" data-event-click="followUser"/>
                        <input type="button" class="unfollowUserButton hidden" value="フォロー解除" data-event-click="unfollowUser"/>
                    <%}%>
                </li>
            <%});%>


        <%} else {%>
            <li class="list-item message">フォローしているユーザーはいません</li>
        <%}%>
    </ul>
</script>


<!--フォローされてるユーザー一覧-->
<script id="page_mypage_followed_users" type="text/template">


    <ul class="followUserList list">
        <%if (followedUsers.length > 0) {%>

            <%_.each(followedUsers, function (user) {%>
                <li class="list-item gp" data-user-id="<%=user.attributes.id%>">
                    <a class="userName" href="#user/<%=user.attributes.id%>"><%=user.attributes.user_name%></a>

                    <%if (_.alreadyUserFollow(user.attributes.id)) {%>
                        <input type="button" class="followUserButton hidden" value="フォローする" data-event-click="followUser"/>
                        <input type="button" class="unfollowUserButton" value="フォロー解除" data-event-click="unfollowUser"/>
                    <%} else {%>
                        <input type="button" class="followUserButton" value="フォローする" data-event-click="followUser"/>
                        <input type="button" class="unfollowUserButton hidden" value="フォロー解除" data-event-click="unfollowUser"/>
                    <%}%>
                </li>
            <%});%>


        <%} else {%>
            <li class="list-item message">フォローされているユーザーはいません</li>
        <%}%>
    </ul>

</script>


<!--Pocket一覧エリア-->
<script id="page_mypage_user_pocket_list_area" type="text/template">
    <!--絞り込み機能-->
    <div class="filterArea">
        <input type="text" id="filterByNameInput" class="form form-color-base filterByNameInput" placeholder="曲名やアーティスト名を入力" data-event-keyup="filterPockets"/>
        <input type="button" class="form-InBtn form-btn-color-base filterByNameBtn" value="絞り込み" data-event-click="filterPockets"/>
        <div class="form-select selectArea">
            <select id="filterByFeelingSelect" class="form form-selectMenu form-color-base  filterByFeelingSelect" data-event-change="filterPockets2">
                <option value="0"></option>
                <%_.each(feelings, function (feeling) {%>
                    <option value="<%=feeling.id%>"><%=feeling.name%></option>
                <%});%>
            </select>
        </div>
    </div>

    <!--機能-->
    <div class="pocketListFncArea clearfix">
        <%if (options.noEdit) {%>
            <!--なし-->
        <%}else if (options.edit) {%>
            <a href="#" class="editButton" data-event-click="editPocketList">完了</a>
        <%} else if (options.nowPlaylist) {%>
            <a href="#" class="editButton" data-event-click="editPocketList">Playlist編集</a>
        <%} else {%>
            <a href="#" class="editButton" data-event-click="editPocketList">Pocket編集</a>
        <%}%>
    </div>

    <!--Pocketリスト-->
    <ul id="pocketListArea" class="pocketListArea clearfix <%if(options.edit){%>editStyle<%}%>"><!--JSで埋める--></ul>

</script>



<!--Pocket一覧-->
<script id="page_mypage_user_pocket_list" type="text/template">
    <%_.each(pocketList, function (pocket) {%>
        <li class="feeling-<%=pocket.attributes.feeling_id%>" data-pocket-id="<%=pocket.attributes.id%>">
            <a href="#music/<%=pocket.attributes.music_id%>" draggable="false">
                <img class="thumb" src="<%=pocket.attributes.artwork_url%>" alt="<%=pocket.attributes.title%>" draggable="false"/>
            </a>
            <div class="info">
                <div class="title">
                    <a href="#music/<%=pocket.attributes.music_id%>" draggable="false"><%=pocket.attributes.title%></a>
                </div>
                <div class="artistName">
                    <a href="#artist/<%=pocket.attributes.artist_id%>" draggable="false"><%=pocket.attributes.artist_name%></a>
                </div>
            </div>
            <div class="playBtn" data-event-click="playMusic">▶</div>
            <div class="deleteBtn" data-event-click="deletePocket">×</div>
        </li>
    <%});%>
</script>





<!--ユーザープレイリスト一覧-->
<script id="page_mypage_playlist" type="text/template">
    <%_.each(playlists, function (playlist) {%>

        <%if (playlist.attributes.type !== 1) {%>
            <li class="userPage-sidebarList-item" data-playlist-id="<%=playlist.attributes.id%>" data-pleylist-type="<%=playlist.attributes.type%>" data-event-click="showPlaylist" data-drop-target="playlist">
                <%=playlist.attributes.title%> (<%=JSON.parse(playlist.attributes.user_pocket_ids).length%>)
                <a href="#" class="clearBtn" data-event-click="deletePlaylist">×</a>
            </li>
        <%} else {%>
            <li class="userPage-sidebarList-item is-active" data-playlist-id="<%=playlist.attributes.id%>" data-pleylist-type="<%=playlist.attributes.type%>" data-event-click="showPlaylist" data-drop-target="playlist">
                <%=playlist.attributes.title%> (<%=JSON.parse(playlist.attributes.user_pocket_ids).length%>)
            </li>
        <%}%>

    <%});%>
</script>




<!--フォローしているプレイリスト一覧-->
<script id="page_mypage_follow_playlist" type="text/template">
    <%_.each(playlists, function (playlist) {%>

        <li class="userPage-sidebarList-item" data-playlist-id="<%=playlist.attributes.id%>" data-event-click="showFollowPlaylist">
            <%=playlist.attributes.title%>
            (<%=JSON.parse(playlist.attributes.user_pocket_ids).length%>)
            &nbsp;by <a style="display:inline;" href="#user/<%=playlist.attributes.user_id%>"><%=playlist.attributes.user_name%></a>
            <a href="#" class="clearBtn" data-event-click="deleteFollowPlaylist">×</a>
        </li>

    <%});%>
</script>












































