

<!-- Mypage -->
<script id="page_mypage" type="text/template">

    <!--タイトル-->
    <h1 class="text-center">My List</h1>

    <div class="pageMypage clearfix">
        <div class="leftCol">

            <!--タイトル：ユーザー名、保有曲数-->
            <div class="playlistHeader">
                <span class="fs18"><%=user.name%></span>
                <span>/</span>
                <span class="fs32">0</span>
                <span class="fs18">曲</span>
            </div>
            <!--マイドロップ、チェックアーティスト、ユーザーフォロ-->
            <ul class="sidebarList">
                <li data-event-click="showMyDrops">マイドロップ一覧</li>
                <li data-event-click="showCheckArtists">チェックアーティスト</li>
                <li data-event-click="showFollowUsers">フォローしているユーザー</li>
                <li data-event-click="showFollowedUsers">フォローされているユーザー</li>
            </ul>

            <!--自分のプレイリスト-->
            <div class="playlistHeader mt30">
                <span class="fs18">自分でつくったプレイリスト</span>
                <a href="#" class="editButton">編集</a>
            </div>
            <ul class="sidebarList">
                <li>
                    <a href="#">作業用BGM (4)</a>
                    <a href="#" class="clearBtn">×</a>
                </li>
                <li>
                    <a href="#">通勤用の曲 (10)</a>
                    <a href="#" class="clearBtn">×</a>
                </li>
                <li>
                    <a href="#">寝る前に聞く (12)</a>
                    <a href="#" class="clearBtn">×</a>
                </li>
                <li>
                    <a href="#">すべて (124)</a>
                </li>
            </ul>
            <div class="addPlaylistArea">
                <input type="text" value="" placeholder="+ 新しいプレイリスト名"/>
                <input type="button" value="追加" class="addPlaylistBtn"/>
            </div>


            <!--他人のプレイリスト-->
            <div class="playlistHeader mt30">
                <span class="fs18">他の人がつくったプレイリスト</span>
                <a href="#" class="editButton">編集</a>
            </div>
            <ul class="sidebarList edit">
                <li>
                    <a href="#">涙ながれるBGM (10)</a>
                    <a href="#" class="clearBtn">×</a>
                </li>
                <li>
                    <a href="#">眠い朝に聞きたい曲 (2)</a>
                    <a href="#" class="clearBtn">×</a>
                </li>
                <li>
                    <a href="#">テクノでノリノリ (44)</a>
                    <a href="#" class="clearBtn">×</a>
                </li>
            </ul>


        </div>





        <div class="rightCol" data-type="dataArea">

            <!--絞り込み機能-->
            <div class="filterArea">
                <input type="text" class="filterByNameInput"/>
                <input type="button" class="filterByNameBtn" value="絞り込み"/>
                <div class="selectArea">
                    <select class="filterByFeelingSelect">
                        <option value="0"></option>
                        <option value="1">気分1</option>
                        <option value="2">気分2</option>
                        <option value="3">気分3</option>
                        <option value="4">気分4</option>
                        <option value="5">気分5</option>
                        <option value="6">気分6</option>
                        <option value="7">気分7</option>
                    </select>
                </div>
            </div>


            <!--Pocketリスト-->
            <ul class="pocketListArea clearfix">
                <li class="feeling-1">
                    <img class="thumb" src="http://a1450.phobos.apple.com/us/r30/Music4/v4/65/22/0c/65220c4e-5270-af5c-aed0-6aa179edeb0e/RGB.170x170-75.jpg" alt="aaa"/>
                    <div class="info">
                        <div class="title">友 〜旅立ちの時〜ああああああああ</div>
                        <div class="artistName">ゆずいいいいいいいいい</div>
                    </div>
                    <div class="playBtn">▶</div>
                </li>

                <li class="feeling-2">
                    <img class="thumb" src="http://a1450.phobos.apple.com/us/r30/Music4/v4/65/22/0c/65220c4e-5270-af5c-aed0-6aa179edeb0e/RGB.170x170-75.jpg" alt="aaa"/>
                    <div class="info">
                        <div class="title">友 〜旅立ちの時〜</div>
                        <div class="artistName">ゆず</div>
                    </div>
                    <div class="playBtn">▶</div>
                </li>

                <li class="feeling-3">
                    <img class="thumb" src="http://a1450.phobos.apple.com/us/r30/Music4/v4/65/22/0c/65220c4e-5270-af5c-aed0-6aa179edeb0e/RGB.170x170-75.jpg" alt="aaa"/>
                    <div class="info">
                        <div class="title">友 〜旅立ちの時〜</div>
                        <div class="artistName">ゆず</div>
                    </div>
                    <div class="playBtn">▶</div>
                </li>

                <li class="feeling-4">
                    <img class="thumb" src="http://a1450.phobos.apple.com/us/r30/Music4/v4/65/22/0c/65220c4e-5270-af5c-aed0-6aa179edeb0e/RGB.170x170-75.jpg" alt="aaa"/>
                    <div class="info">
                        <div class="title">友 〜旅立ちの時〜</div>
                        <div class="artistName">ゆず</div>
                    </div>
                    <div class="playBtn">▶</div>
                </li>

                <li class="feeling-5">
                    <img class="thumb" src="http://a1450.phobos.apple.com/us/r30/Music4/v4/65/22/0c/65220c4e-5270-af5c-aed0-6aa179edeb0e/RGB.170x170-75.jpg" alt="aaa"/>
                    <div class="info">
                        <div class="title">友 〜旅立ちの時〜</div>
                        <div class="artistName">ゆず</div>
                    </div>
                    <div class="playBtn">▶</div>
                </li>

                <li class="feeling-6">
                    <img class="thumb" src="http://a1450.phobos.apple.com/us/r30/Music4/v4/65/22/0c/65220c4e-5270-af5c-aed0-6aa179edeb0e/RGB.170x170-75.jpg" alt="aaa"/>
                    <div class="info">
                        <div class="title">友 〜旅立ちの時〜</div>
                        <div class="artistName">ゆず</div>
                    </div>
                    <div class="playBtn">▶</div>
                </li>

                <li class="feeling-7">
                    <img class="thumb" src="http://a1450.phobos.apple.com/us/r30/Music4/v4/65/22/0c/65220c4e-5270-af5c-aed0-6aa179edeb0e/RGB.170x170-75.jpg" alt="aaa"/>
                    <div class="info">
                        <div class="title">友 〜旅立ちの時〜</div>
                        <div class="artistName">ゆず</div>
                    </div>
                    <div class="playBtn">▶</div>
                </li>

            </ul>

        </div>
    </div>


<br>
<br>
<br>
<br>















<h2 class="kari_h2">すべてのPocket</h2>
<div class="kari_pocketConditionArea">
    <input type="text" class="conditionInput" value="" placeholder="曲名やアーティスト名を入力してください"></input>
    <input type="button" class="refineButton" value="絞り込む"/>
</div>
<section class="kari_mypageArea1">
    <div id="playlistArea" class="kari_playlistArea">
        <div class="titleArea">
            <div class="playlostHead">プレイリスト</div>
            <input type="button" class="editButton" value="Edit" data-event-click="editPlayList"/>
        </div>
        <ul id="mypage_playlist" class="playlist">
        </ul>
    </div>
    <div id="pocketListArea" class="kari_pocketListArea"></div>
</section>



<br>
<br>
<br>
<br>
<br>


    <h2>UserInfo</h2>
    <table class="table">
        <tr>
            <td>User Id</td>

        </tr>
        <tr>
            <td>User Name</td>
        </tr>
    </table>

    <h2 class="mt20">PocketList</h2>

    <div class="mb10">
        <input id="titleCondition" type="text" style="width:300px" data-event="filterPockets" placeholder="title絞り込み"/>
        <input id="artistCondition" type="text" style="width:300px" data-event="filterPockets" placeholder="artist絞り込み"/>
        <input id="tagsCondition" type="text" style="width:300px" data-event="filterPockets" placeholder="tag絞り込み"/>
        <button class="btn btn-primary mr5" data-event="saveFilter">このFilterを保存する</button>
        <button class="btn btn-success mr5" data-event="clearFilter">Filterを解除する</button>
        <button class="btn btn-danger mr5" data-event="deleteFilter">選択中のFilterを削除する</button>
    </div>
    <div id="savedFilter" class="mb10 floatLeft clearFix"></div>
    <table class="table">
        <tr>
            <th>Music</th>
            <th>Sample</th>
            <th>Youtube</th>
            <th>Create</th>
            <th></th>
        </tr>
        <tr>
            <tbody id="poplist"></tbody>
        </tr>
    </table>

    <h2 class="mt20">フォロー関係</h2>
    <div id="followUserList"></div>
    <div id="followedUserList"></div>


    <h2 class="mt20">お知らせ一覧</h2>
    <table class="table">
        <tr>
            <th>Message</th>
            <th>#</th>
        </tr>
        <tr>
            <tbody id="notification_list"></tbody>
        </tr>
    </table>



</script>






<!--マイPop一覧-->
<script id="page_mypage_mypop_list" type="text/template">
    <%if (popList.length > 0) {%>
        <%_.each(popList, function (pop) {%>
            <%=pop.attributes.id%>,
            <%=pop.attributes.comment%>
            <br>
        <%});%>
    <%} else {%>
        ないよー
    <%}%>
</script>


<!--チェックアーティスト一覧-->
<script id="page_mypage_check_artists" type="text/template">
    <%if (checkArtists.length > 0) {%>
        <%_.each(checkArtists, function (checkArtist) {%>
            <%=checkArtist.attributes.id%>,
            <%=checkArtist.attributes.artist_name%>
            <br>
        <%});%>
    <%} else {%>
        ないよー
    <%}%>
</script>


<!--フォローしているユーザー一覧-->
<script id="page_mypage_follow_users" type="text/template">
    <%if (followUsers.length > 0) {%>
        dest_user_id,dest_user_name<br>
        <%_.each(followUsers, function (user) {%>
            <%=user.dest_user_id%>,
            <%=user.dest_user_name%><br>
        <%});%>
    <%} else {%>
        ないよー
    <%}%>
</script>


<!--フォローされてるユーザー一覧-->
<script id="page_mypage_followed_users" type="text/template">
    <%if (followedUsers.length > 0) {%>
        user_id,user_name<br>
        <%_.each(followedUsers, function (user) {%>
            <%=user.user_id%>,
            <%=user.user_name%><br>
        <%});%>
    <%} else {%>
        ないよー
    <%}%>
</script>


<!--Pocket一覧-->
<script id="page_mypage_user_pocket_list" type="text/template">
    <!--絞り込み機能-->
    <div class="filterArea">
        <input type="text" class="filterByNameInput"/>
        <input type="button" class="filterByNameBtn" value="絞り込み"/>
        <div class="selectArea">
            <select class="filterByFeelingSelect">
                <option value="0"></option>
                <%_.each(feelings, function (feeling) {%>
                    <option value="<%=feeling.id%>"><%=feeling.name%></option>
                <%});%>
            </select>
        </div>
    </div>

    <!--Pocketリスト-->
    <ul class="pocketListArea clearfix">
        <%_.each(pocketList, function (pocket) {%>
            <li class="feeling-<%=pocket.attributes.feeling_id%>" data-pocket-id="<%=pocket.attributes.id%>">
                <img class="thumb" src="<%=pocket.attributes.artwork_url%>" alt="<%=pocket.attributes.title%>"/>
                <div class="info">
                    <div class="title">
                        <a href="#music/<%=pocket.attributes.music_id%>"><%=pocket.attributes.title%></a>
                    </div>
                    <div class="artistName">
                        <a href="#artist/<%=pocket.attributes.artist_id%>"><%=pocket.attributes.artist_name%></a>
                    </div>
                </div>
                <div class="playBtn" data-event-click="playMusic">▶</div>
            </li>
        <%});%>

    </ul>

</script>











<!--ユーザープレイリスト-->
<script id="page_mypage_playlist" type="text/template">
    <%_.each(playlists, function (playlist) {%>
        <li>
            <a href="#" onclick="return false;" data-playlist-id="<%=playlist.attributes.id%>">
                <%=playlist.attributes.title%>(<%=JSON.parse(playlist.attributes.user_pocket_ids).length%>)
            </a>

        </li>
    <%});%>
</script>










<!-- Saved Filter -->
<script id="page_mypage_saved_filter" type="text/template">
    <%_.each(pocket_filter_object, function (condition) {%>
        <div class="btn mr5" data-event="useFilter" data-title="<%=condition.title%>" data-artist="<%=condition.artist%>" data-tags='<%=JSON.stringify(condition.tags)%>'>
            <%=condition.title%>, <%=condition.artist%>, <%=JSON.stringify(condition.tags)%>
        </div>
    <%});%>
</script>













<!-- Mypage: User Pocket List -->
<script id="page_mypage_poplist" type="text/template">
    <%
        var idx = 0;
        _.each(pocketList, function (pocket) {
    %>
        <tr data-pocket-id="<%-pocket.attributes.id%>">
            <%
                var feelingId = pocket.attributes.feeling_id;
                var feelingName = ' - ';
                _.each(feelings, function (feeling) {
                    if (feeling.id === feelingId) {
                        feelingName = feeling.name;
                    }
                });
            %>
            <td class="wb">
                <a href="#music/<%-pocket.attributes.music_id%>"><%=pocket.attributes.title%></a>
                /
                <a href="#artist/<%-pocket.attributes.artist_id%>"><%=pocket.attributes.artist_name%></a>
            </td>
            <td><audio style="max-width:200px;" src="<%-pocket.attributes.song_url%>" controls preload="none"></audio></td>
            <% if (pocket.attributes.youtube_id) { %>
                <td><div class="btn btn-primary" data-youtube-id="<%-pocket.attributes.youbute_id%>" data-event="showYoutube" data-pos=<%=idx++%>>▶</div></td>
            <% } else { %>
                <td  class="text-center"> - </td>
            <% } %>
            <td class="wb"><%- _.formatTimestamp(pocket.attributes.create_at) %></td>
            <td><div class="btn btn-danger" data-pocket-id="<%-pocket.attributes.id%>" data-event="deletePocket">D</div></td>
        </tr>
    <% }); %>
</script>


<!-- Mypage: お知らせ一覧 -->
<script id="page_mypage_notification_list" type="text/template">
    <% if (notificationList.length === 0 ) %>
        <tr>
            <td>なし</td>
        </tr>
    <% } else { %>
        <% _.each(notificationList, function (notif) { %>
            <tr>
                <td>
                    <%if (notif.attributes.type === 1) { %>
                        <a href="#user/<%-notif.attributes.json.user.id%>"><%=notif.attributes.json.user.name%></a>さんが、
                        <a href="#music/<%-notif.attributes.json.music.id%>"><%=notif.attributes.json.music.title%></a>をPocketしました。
                    <% } %>
                </td>
                <td>
                    <div class="btn btn-danger" data-notification-id="<%-notif.attributes.id%>" data-event="deleteNotification">D</div>
                </td>
            </tr>
        <% }); %>
    <% } %>
</script>



































