

<!-- Page: Pop -->
<script id="page_pop" type="text/template">
    <div id="pagePop" class="pagePop">
        <% if (type === 'add') { %>
            <h1 class="tc mb10 b">Dropを書く</h1>
        <% } else { %>
            <h1 class="tc mb10 b">Dropを編集する</h1>
        <% } %>


        <div class="popPageArea clearfix">

            <!--左側-->
            <div class="leftCol">
                <img class="thumb" src="<%=music.attributes.artwork_url%>" alt="<%=music.attributes.title%>" />
                <div class="title"><%=music.attributes.title%></div>
                <div class="artistName"><%=music.attributes.artist_name%></div>
            </div>


            <!--右側-->
            <div class="rightCol">
                <div class="label">[1] ドロップの種類を選ぶ</div>
                <div class="feelingList clearfix">
                    <%_.each(feelingList, function (feeling) { console.debug(feeling.id, pop.attributes);%>
                        <div>
                            <input id="feelingSelect<%=feeling.id%>" type="radio" name="feelingSelect" value="<%=feeling.id%>" <%if(feeling.id === pop.attributes.feeling_id){%>checked="true"<%}%>/>
                            <label for="feelingSelect<%=feeling.id%>" class="feeling-<%=feeling.id%>"><%=feeling.name%></label>
                        </div>
                    <%});%>
                </div>
                <div class="commentArea">
                    <div class="label">[2] 感想を書く</div>
                    <textarea id="comment" cols="30" rows="10" placeholder="ドロップを書く..." maxlength=120 data-event-keyup="countCharacters"><%=pop.attributes.comment%></textarea>
                    <div class="count"><span id="numOfCharacters">0</span>/120</div>
                </div>
                <% if (type === 'add') { %>
                    <div class="submitBtn" data-event-click="addPop">[3]ドロップを投稿する</div>
                <% } else { %>
                    <div class="submitBtn" data-event-click="addPop">[3] 編集を完了する</div>
                <% } %>
            </div>

        </div>

    </div>
</script>



