<!--ユーザー設定画面。ログインでも表示に使います。-->
<script id="page_recommended" type="text/template">

    <div class="page-notes">

		<h2 class="fs16 tc mb20">推奨環境</h2>
		<p class="lh24 tc ml20 mb40">
Music Dropsでは、以下奨励環境としています
		</p>

		<h3 class="fs16 b mb20">
OSについて
		</h3>
		<p class="lh24 ml20 mb10">
Windows PC<br>
● WIndows 7<br>
		</p>
		<p class="lh24 ml20 mb10">
Mac<br>
● OS X 以上<br>
		</p>
		<p class="lh24 ml20 mb40">
iPad
		</p>

		<h3 class="fs16 b mb20">
ブラウザについて
		</h3>
		<p class="lh24 ml20 mb10">
推奨ブラウザ：Chrome、Saferi、Firefox<br>
		</p>
		<p class="lh24 ml20 mb40">
現在サポート外ブラウザ：Internet Explororは将来サポートされる予定です<br>
		</p>

		<h3 class="fs16 b mb20">
画面解像度について
		</h3>
		<p class="lh24 ml20 mb40">
横 980ピクセル以上、縦 700ピクセル以上
		</p>

    </div>

</script>