<!--ユーザー設定画面-->
<script id="page_rules" type="text/template">

    <div class="rules">

<div class="entryBody">
<h2 class="fs16 tc mb20">Music Drops 利用規約</h2>
<p>本利用規約は、株式会社サイバーエージェントが運営する「Ameba」及び「Ameba」を通じて提供されるサービスについての利用条件を定めるものです。なお、本利用規約は<a href="http://helps.ameba.jp/rules/">各サービスにおけるガイドライン等</a>の諸規程と共に重畳的に適用され、当該ガイドライン等の諸規程は、本利用規約の一部を構成します。従って、本利用規約に同意いただくことで、本サービスを利用することができます。<br>各サービスのガイドライン等の諸規程は、「Ameba」内の各サービス内において別途掲載いたします。<br>（18歳未満の方が会員サービスをご利用になる場合には、親権者の方から事前に承諾を得て、一緒にご利用ください。）</p>
<p></p>
<h3>第1条（定義）</h3>
<ul>
<ul>(1) 「当社」---株式会社サイバーエージェント</ul>
</ul>
<p></p>
<ul>
<ul>(2) 「Ameba」---当社が運営するコミュニティ＆ゲームSNSサービスの総称</ul>
</ul>
<p></p>
<ul>
<ul>(3) 「本サービス」---「Ameba」を通じて提供される一切のサービス</ul>
</ul>
<p></p>
<ul>
<ul>(4) 「利用者」---会員及び本サービスを利用する全ての者</ul>
</ul>
<p></p>
<ul>
<ul>(5) 「会員登録希望者」---会員として登録を希望する者</ul>
</ul>
<p></p>
<ul>
<ul>(6) 「会員登録」---会員登録希望者が本利用規約に同意し、本利用規約及び当社が定める方法により、会員サービスの提供を申し込み、当社が承認をしたことにより登録された状態のこと</ul>
</ul>
<p></p>
<ul>
<ul>(7) 「会員」---会員サービスの提供を希望し、本利用規約に同意の上、会員登録をした者のうち、当社が承認をした者</ul>
</ul>
<p></p>
<ul>
<ul>(8) 「登録情報」---会員サービスの提供を受ける目的で、会員登録希望者又は会員が当社に提供する一切の情報</ul>
</ul>
<p></p>
<ul>
<ul>(9) 「個人情報」---登録情報のうち、特定の個人を識別できる情報（他の情報と容易に照合することができ、それにより特定の個人を識別することができることとなるものを含む）</ul>
</ul>
<p></p>
<ul>
<ul>(10)「認証情報」---登録情報のうち、ID及びパスワードその他当社が会員からの接続を認証するために必要な情報</ul>
</ul>
<p></p>
<ul>
<ul>(11) 「Cookie」---ウェブサイトの提供者が、ブラウザを介して訪問者のコンピュータに一時的に簡単なデータを書き込む仕組みをいう。（訪問者の識別や認証、訪問回数の記録などに利用します。）</ul>
</ul>
<p></p>
<ul>
<ul>(12) 「退会」---会員が、本利用規約及び当社が定める方法により、登録情報を抹消し、会員サービスの提供を受けることを終了すること</ul>
</ul>
<p></p>
<ul>
<ul>(13) 「会員サービス」---本サービスのうち、会員に対してのみ提供される第9条に定めるサービス</ul>
</ul>
<p></p>
<ul>
<ul>(14) 「キャンペーン」---会員又は会員登録希望者に向けて提供される期間限定のサービス（懸賞等含む）</ul>
</ul>
<p></p>
<ul>
<ul>(15) 「会員専用ページ」---会員が登録情報等を確認・変更できるウェブサイト上のページ</ul>
</ul>
<p></p>
<ul>
<ul>(16) 「アンケート等」---当社が、会員又は会員登録希望者の属性・動向・意見等を調査する目的で、会員又は会員登録希望者に対してアンケート（質問）形式でウェブサイトや電子メールを通じて回答・投票・投稿させること</ul>
</ul>
<p></p>
<ul>
<ul>(17) 「パートナーサービス」---当社との間で契約を締結した第三者が企画運営するコンテンツやサービス</ul>
</ul>
<p></p>
<h3>第2条（サービスの概要）</h3>
<ul>
<ul>1. 利用者は、Amebaを通じて提供する情報収集・閲覧サービス・ブログサービス・メッセージサービス・コミュニティサービス・ゲーム・アメーバピグ・その他各種コンテンツサービス等を利用することができます。</ul>
</ul>
<p></p>
<ul>
<ul>2. 当社は、必要に応じて、本サービスに新しいサービスを追加したり、変更したりすることがあり、利用者はそれをあらかじめ承諾した上で本サービスを利用するものとします。</ul>
</ul>
<p></p>
<ul>3. 会員は、年齢や利用環境等、当社の定める条件に応じて、当社の定める範囲内で、本サービスを利用するものとします。</ul>
<h3>第3条(サービスの利用条件)</h3>
<ul>
<ul>1. 当社は、当社の定めにより、本サービスの機能や利用範囲等を会員の年齢や利用環境等に応じて設定するものとします。会員は、本サービスを利用する際には、各機能やサービスについて、必ず利用条件を確認するものとします。</ul>
</ul>
<p></p>
<ul>
<ul>2. 会員は、本サービスを利用する上で、会員自身が設定する登録情報に、虚偽の情報を掲載してはならないものとします。</ul>
</ul>
<p></p>
<ul>
<ul>3. 18歳未満の会員の方が、「アメーバピグ」をご利用になる場合には、「アメーバピグ」の機能のうち、ご利用が制限される機能があります。</ul>
</ul>
<p></p>
<ul>
<ul>4. 15歳以下の会員の方は、メッセージ機能を利用してはなりません。</ul>
</ul>
<p></p>
<ul>
<ul>5. 本サービスへの投稿やメッセージの内容は、本サービスの健全な運営のため、当社にて確認を行うことができるものとします。</ul>
</ul>
<p><br><br></p>
<h3>第4条（会員登録）</h3>
<ul>
<ul>1. 会員登録希望者は、本利用規約の全てに同意した上、本利用規約及び当社が定める方法により会員登録をするものとします。</ul>
</ul>
<p></p>
<ul>
<ul>2. 当社は、前項の会員登録があった場合、当社が定める必要な審査、手続き等を経て、当該登録を承認するかどうか決定します。なお、当社は、当社が定める審査基準に合致しない場合その他当社が不適当と考える場合には、会員登録希望者へ理由を開示することなく、当該登録を承認しないことができるものとします。</ul>
</ul>
<p></p>
<ul>
<ul>3. 当社が会員登録希望者の会員登録申請を承認した場合、当社と会員登録希望者との間で、本利用規約を契約内容とする会員サービスの利用契約が締結されるものとします。</ul>
</ul>
<p></p>
<ul>
<ul>4. 18歳未満の方は、親権者の同意のない限り会員登録をすることができないものとします。（年齢又は生年月日を偽ったことが判明した場合、会員としての一切の資格は無効となります）</ul>
</ul>
<p></p>
<ul>
<ul>5. 会員サービスには、登録情報以外の情報の登録を必要とするサービスが含まれます。会員がそれら個別のサービスを利用するにあたっては、それぞれのサービスごとに定める必要な情報を登録の上、利用するものとします。</ul>
</ul>
<p></p>
<h3>第5条（認証情報の管理と登録情報の変更）</h3>
<ul>
<ul>1. 会員は自己の責任と費用負担によって、認証情報の管理を行うものとし、認証情報を第三者に利用させ、第三者への譲渡、承継、質入その他一切の処分をし、公開等をしてはならないものとします。</ul>
</ul>
<p></p>
<ul>
<ul>2. 認証情報の管理不十分による情報の漏洩、使用上の過誤、第三者の使用、不正アクセス等による損害の責任は会員が負うものとし、当社は一切の責任を負わないものとします。万一、認証情報が不正に利用されたことにより当社に損害が生じた場合、会員は当該損害を賠償するものとします。</ul>
</ul>
<p></p>
<ul>
<ul>3. 会員は、登録情報に変更が生じた場合又は認証情報を第三者に知られた場合もしくは使用されている疑いのある場合には、本利用規約及び当社が定める方法により、直ちに当社にその旨連絡すると共に、第三者による認証情報の利用を回避するため可能な限りの措置を取るものとし、当社の指示がある場合にはこれに従うものとします。</ul>
</ul>
<p></p>
<ul>
<ul>4. 会員が前項の連絡等の措置を取らなかったことにより不利益を被った場合であっても、当社は一切の責任を負わないものとします。</ul>
</ul>
<p></p>
<ul>
<ul>5. 会員が本条第3項の連絡をしなかった場合、当社は当該会員が退会したとみなすことができるものとします。</ul>
</ul>
<p></p>
<h3>第6条（登録情報・個人情報）</h3>
<ul>
<ul>1. 当社は、登録情報を、以下各号の目的で利用します。</ul>
</ul>
<p></p>
<ul>
<ul>(1) 本サービスの運営（当社から会員に対して、あらゆる情報を提供することを含みます）</ul>
</ul>
<p></p>
<ul>
<ul>(2) 当社が会員にとって有益だと判断する当社のサービス（本サービスに限りません）又は、広告主や提携先企業の商品、サービス等に関する情報の提供</ul>
</ul>
<p></p>
<ul>
<ul>(3) 本サービスの品質管理のためのアンケート調査及び当該結果の分析</ul>
</ul>
<p></p>
<ul>
<ul>(4) 会員に対する、本サービス運営に著しく影響を及ぼす事柄（本サービス内容の大幅な変更、一時停止を含みますがこれらに限られません）に関する連絡</ul>
</ul>
<p></p>
<ul>
<ul>(5) 会員から個人情報の取扱いに関する同意を求めるための連絡</ul>
</ul>
<p></p>
<ul>
<ul>2. 当社は、登録情報について、以下各号の場合を除き、本人以外の第三者に開示しないものとします。</ul>
</ul>
<p></p>
<ul>
<ul>(1) 本サービスの向上、関連事業開発及び提携企業のマーケティング等の目的で登録情報を集計及び分析等する場合</ul>
</ul>
<p></p>
<ul>
<ul>(2) 前号の集計及び分析等により得られたものを、個人を識別又は特定できない態様にて、第三者に開示又は提供する場合</ul>
</ul>
<p></p>
<ul>
<ul>(3) 個人情報の開示や利用について会員の同意がある場合</ul>
</ul>
<p></p>
<ul>
<ul>(4) 会員が希望するサービスを提供するために、個人情報の開示や利用が必要と認められる場合</ul>
</ul>
<p></p>
<ul>
<ul>(5) 会員が希望するサービスを提供する目的で、提携先等第三者が個人情報を必要とする場合（なお、当該提携先等の第三者は、当社が提供した個人情報をサービス提供のために必要な範囲を超えて利用することはできません）</ul>
</ul>
<p></p>
<ul>
<ul>(6) 当社がサービスとして提供するアンケート等への回答を依頼された会員が、回答情報として当社に提供した文字、数字、静止画、動画像その他の情報を第三者に提供する場合（この場合、当社の情報提供先は当該アンケートの発注元及び提携企業に限るものとし、会員個人が特定できない形式での提供となります）</ul>
</ul>
<p></p>
<ul>
<ul>(7) 当社又は提携先等第三者の広告、サービス等に関する情報を、会員に送信する場合</ul>
</ul>
<p></p>
<ul>
<ul>(8) 法令に基づく場合</ul>
</ul>
<p></p>
<ul>
<ul>(9) 当社、会員その他第三者の生命、身体もしくは財産、又は当社が提供する一切のサービスの保護のために必要がある場合</ul>
</ul>
<p></p>
<ul>
<ul>(10) 公衆衛生の向上又は児童の健全な育成の推進のために特に必要がある場合</ul>
</ul>
<p></p>
<ul>
<ul>(11) 国の機関もしくは地方公共団体又はその委託を受けた者が法令の定める事務を遂行することに対して協力する必要がある場合、これらの者から正当に開示を求められた場合</ul>
</ul>
<p></p>
<ul>
<ul>3. 当社は、個人情報について、当社の</ul>
</ul>
<p><a href="http://www.cyberagent.co.jp/privacy/">プライバシーポリシー</a></p>
<ul>
<ul>に基づき取り扱うものとします。</ul>
</ul>
<p></p>
<ul>
<ul>4. 会員は、本サービスに登録した個人情報について、開示、削除、訂正又は利用停止の請求ができるものとし、ご本人からの請求であることが確認できる場合に限り、当社はこれに速やかに対応するものとします。</ul>
</ul>
<p></p>
<ul>
<ul>本サービスにおける、当社の問合せ窓口は以下のとおりです。</ul>
</ul>
<p></p>
<ul>
<ul>株式会社サイバーエージェント</ul>
</ul>
<p></p>
<ul>
<ul>アメーバ事業本部</ul>
</ul>
<p></p>
<ul>
<ul>カスタマーサービスグループ</ul>
</ul>
<p><br><a href="mailto:support@ameba.jp">support@ameba.jp</a></p>
<h3>第7条（Cookie及びIPアドレス情報）</h3>
<ul>
<ul>1. 当社は、以下各号の目的を達成するため、Cookie及び利用者から取得したアクセスログ（IPアドレスを含む）を利用することがあり、利用者はこれを承諾するものとします。</ul>
</ul>
<p></p>
<ul>
<ul>(1) 会員が登録情報の一部を入力することにより、全部を入力する手間を省くため</ul>
</ul>
<p></p>
<ul>
<ul>(2) 利用者の動向を分析し、よりよいサービスを企画、提供するため</ul>
</ul>
<p></p>
<ul>
<ul>(3) 複数回以上にわたって、同一広告を露出しないよう調整するため</ul>
</ul>
<p></p>
<ul>
<ul>2. 利用者は、その利用するパーソナルコンピュータやスマートフォン端末等におけるブラウザの設定により、Cookieの受理を承諾するものとします。ブラウザの設定によりCookieの受理が拒否される場合、当社は利用者の情報を正しく認識できない可能性がありますが、それに起因して利用者に生ずる損害について、当社は一切の責任を負わないものとします。</ul>
</ul>
<p></p>
<h3>第8条（退会）</h3>
<ul>
<ul>1. 会員は、本利用規約及び当社が定める方法により、いつでも会員サービスの利用を終了し、会員サービスから退会することができるものとします。ただし、会員サービスのシステムの都合上、会員による退会手続きが完了してから、その手続きがシステム上反映されるまで当社所定の時間が必要な場合があり、会員はこれを承諾するものとします。</ul>
</ul>
<p></p>
<ul>
<ul>2. 会員は会員サービスから退会した場合、第9条に定められたすべてのサービスを受ける権利、電子メール等による情報の提供を受ける権利、キャンペーンやアンケート等による当選の権利等を含め、会員としての一切の権利を失うものとします。</ul>
</ul>
<p></p>
<ul>
<ul>3. 当社は、会員が以下のいずれかの事由に該当する場合、又はその恐れがあると当社が判断した場合、会員へ事前に通告・催告することなく、かつ会員の承諾を得ずに、当社の裁量により直ちに、当該会員に対して、本サービスの全部又は一部の利用停止、退会処分、その他当社が適切と判断する措置をとることができるものとします。</ul>
</ul>
<p></p>
<ul>
<ul>(1) 本利用規約に違反した場合</ul>
</ul>
<p></p>
<ul>
<ul>(2) 登録情報に虚偽、過誤がある場合</ul>
</ul>
<p></p>
<ul>
<ul>(3) 登録された電子メールアドレスが機能していないと判断される場合</ul>
</ul>
<p></p>
<ul>
<ul>(4) 第三者になりすまして会員登録を行った場合</ul>
</ul>
<p></p>
<ul>
<ul>(5) 第13条に定める禁止事項を行った場合</ul>
</ul>
<p></p>
<ul>
<ul>(6) 会員が死亡した場合</ul>
</ul>
<p></p>
<ul>
<ul>(7) その他、当社が会員として不適切と判断した場合</ul>
</ul>
<p></p>
<ul>
<ul>4. 前項の場合において、当社が何らかの損害を被った場合、会員は当社に対して当該損害を賠償するものとします。</ul>
</ul>
<p></p>
<ul>
<ul>5. 当社は会員に対して、第3項に定める措置の理由を開示する義務を負わないものとします。</ul>
</ul>
<p></p>
<h3>第9条（会員サービス）</h3>
<ul>
<ul>1. 当社は提供する会員サービスの形態として、携帯電話を含む情報通信機器等を通じて閲覧可能なウェブサイト、電子メール、その他の手段を通じて随時サービスを提供することができるものとします。</ul>
</ul>
<p></p>
<ul>
<ul>2. 当社は、会員に対し、サーバー障害やサービス更新等が発生した場合の情報を電子メールの送信又はウェブサイトに掲示する方法により通知することができるものとします。</ul>
</ul>
<p></p>
<ul>
<ul>3. 会員は、サービスを受ける際に発生する携帯電話を含む情報通信機器等によるメール受信、ウェブサイト閲覧その他の通信の際に必要な一切の通信費用は会員が負担するものとします。</ul>
</ul>
<p></p>
<ul>
<ul>4. 当社は会員に対して、会員専用ページを通じて会員サービスを提供することができるものとします。</ul>
</ul>
<p></p>
<ul>
<ul>5. 当社は会員に対して、本条に定めるサービス以外のサービスを、会員サービスとして随時追加して実施することができるものとします。</ul>
</ul>
<p></p>
<ul>
<ul>6. 当社は、理由の如何を問わず、会員に事前の通知・催告をすることなく、本サービスに関して、内容の全部又は一部の変更、提供頻度の変更、休止、廃止をすることができるものとします。ただし、会員サービスの全てを廃止する場合には、当社が適当と判断する方法で、会員に対し、事前にその旨を通知又は会員専用ページ上で告知するものとします。</ul>
</ul>
<p></p>
<ul>
<ul>7. 当社は、会員サービス上のあらゆる情報を、運営上の必要な範囲内において閲覧することができるものとし、当該情報が本利用規約に抵触すると判断した場合には、会員への事前通知なく、当該情報の全部又は一部を非公開とし又は削除することができるものとします。</ul>
</ul>
<p></p>
<h3>第10条（キャンペーン・アンケート等）</h3>
<ul>
<ul>1. 当社は会員又は会員登録希望者（以下「会員等」といいます）に対して、サービスの一環として、キャンペーン及びアンケート等を随時実施することができるものとします。</ul>
</ul>
<p></p>
<ul>
<ul>2. 会員等によるキャンペーン及びアンケート等の回答内容について発生する著作権等の知的財産権その他一切の権利については、会員等が当社に回答を送信した時点をもって当社に移転するものとし、当社は回答内容に含まれる情報を、第6条に定める登録情報・個人情報の取扱に準じて利用するものとします。</ul>
</ul>
<p></p>
<ul>
<ul>3. キャンペーン及びアンケート等を実施した場合、会員等のうち当社が別途指定した者（以下「当選者」といいます）に対して、プレゼント等を提供することがあります。</ul>
</ul>
<p></p>
<ul>
<ul>4. キャンペーン又はアンケート等に参加しようとする会員等は、当社に対して、当社の指定した方法によって、プレゼント等を提供するために必要な情報を登録しなければならないことがあります。</ul>
</ul>
<p></p>
<ul>
<ul>5. 前項の登録がなされない場合もしくは虚偽の情報を登録した場合又はその可能性があると当社が判断した場合、当選者はプレゼント等を受け取ることができないものとします。</ul>
</ul>
<p></p>
<ul>
<ul>6. 当社は、プレゼント等及び前項に関して当選者に損害が発生した場合であっても、これを賠償する義務を負わないものとします。</ul>
</ul>
<p></p>
<ul>
<ul>7. 会員等は、プレゼント等に関する一切の地位について、第三者への譲渡、承継、質入その他一切の処分をしてはならないものとします。</ul>
</ul>
<p></p>
<h3>第11条（パートナーサービスとの連携）</h3>
<ul>
<ul>1. 当社は、本サービスとパートナーサービスとを相互リンクすること等により、連携させることができるものとします。</ul>
</ul>
<p></p>
<ul>
<ul>2. パートナーサービスを経由して本サービスを知った会員登録希望者は、パートナーサービスと本サービスが別のサービスであることを認識し、パートナーサービスの利用規約等とは別に、本利用規約に同意し、会員登録するものとします。</ul>
</ul>
<p></p>
<ul>
<ul>3. 本サービスを経由してパートナーサービスを知った会員は、パートナーサービスと本サービスが別のサービスであることを認識し、本利用規約とは別に、パートナーサービスの利用規約等がある場合にはこれに同意した上、パートナーサービスが定める方法により、パートナーサービスを利用するものとします。</ul>
</ul>
<p></p>
<ul>
<ul>4. 当社は、会員によるパートナーサービスの利用、及び会員がパートナーサービスから受領する情報に関して、責任を負わないものとします。</ul>
</ul>
<p></p>
<h3>第12条（知的財産権等）</h3>
<ul>
<ul>1. 本サービスを構成する文章、画像、プログラムその他一切の情報について発生している著作権その他の知的財産権、肖像権及びパブリシティ権その他の人格権ならびに所有権その他の財産権は、利用者が自ら作成したもの（第10条第2項に掲げる場合を除きます）に関する権利を除き、当社又は当該権利を有する第三者に帰属しています。</ul>
</ul>
<p></p>
<ul>
<ul>2. 当社は、利用者が本サービスにおいて投稿、アップロード又は保存した全ての情報（文字情報、画像情報等を含みますがこれらに限られません）について、これらを保存・蓄積した上、本サービスの円滑な運営、改善、当社又は本サービスの宣伝告知等を目的として、あらゆる態様で利用できるものとし、利用者はこれに同意するものとします。</ul>
</ul>
<p></p>
<ul>
<ul>3. 利用者は、自己の著作物に関して、第三者の権利侵害等の問題が発生した場合、自己の費用と責任においてかかる問題を解決するとともに、当社に何等の迷惑又は損害を与えないものとします。</ul>
</ul>
<p></p>
<h3>第13条（禁止事項）</h3>
<ul>
<ul>1.会員又は利用者は、本条第4項に定める行為又は内容・表現もしくはその恐れのある内容・表現を含む書き込みや投稿、メッセージの送信等（以下「送信等」と総称します）の禁止事項を行ってはならないものとします。</ul>
</ul>
<p></p>
<ul>
<ul>2.会員又は利用者が、本条第4項に違反したと当社が判断した場合には、送信等をした内容の削除、本サービスの全部又は一部の利用停止、退会処分、その他当社が適切と判断する措置をとることができるものとします。</ul>
</ul>
<p></p>
<ul>
<ul>3. 会員又は利用者が本条第4項に定める禁止事項のいずれかに違反した場合、当社は、当該会員又は利用者に対し、その行為により当社が被った一切の損害（合理的な弁護士費用を含みます）の賠償を請求できるものとします。</ul>
</ul>
<p></p>
<ul>
<ul>4.本条第1項に定める禁止事項とは以下に定めるとおりとします。</ul>
</ul>
<p></p>
<ul>
<ul>(1) 良識に欠けるものや、品位に欠けるもの</ul>
</ul>
<p></p>
<ul>
<ul>①&nbsp;&nbsp; 殺害・虐待・自殺・自殺行為を肯定・勧誘あるいは助長する又はその恐れのある内容（殺害・自殺の方法などを送信等する行為を含む）の送信等</ul>
</ul>
<p></p>
<ul>
<ul>②&nbsp;&nbsp; 過度に残虐又は暴力的な内容・動画・画像（イラストや絵画等も含む）の送信等</ul>
</ul>
<p></p>
<ul>
<ul>③&nbsp;&nbsp; 社会通念上、不適切と解釈され、又はその恐れのある表現・内容の送信等</ul>
</ul>
<p></p>
<ul>
<ul>④&nbsp;&nbsp; アダルト画像、動画を含む内容（イラストや絵画等も含む）の送信等</ul>
</ul>
<p></p>
<ul>
<ul>⑤&nbsp;&nbsp; 著しく性欲を興奮させたり、刺激したりする内容・動画・画像（イラストや絵画等も含む）の送信等</ul>
</ul>
<p></p>
<ul>
<ul>⑥&nbsp;&nbsp; アダルトサイト、出会い系サイト関連の表現・内容の送信等又はこれらのサイト等へのリンク</ul>
</ul>
<p></p>
<ul>
<ul>⑦&nbsp;&nbsp; 性に関する表現で、わいせつな行為、対象を連想させるもの、その他卑猥な表現・内容の送信等</ul>
</ul>
<p></p>
<ul>
<ul>⑧&nbsp;&nbsp; 健全な社会通念に反し、品性を損なうような行為、表現・内容の送信等</ul>
</ul>
<p></p>
<ul>
<ul>⑨&nbsp;&nbsp; その他、一般的に他の会員や利用者が不快に感じる、又はその恐れのある表現・内容の送信等</ul>
</ul>
<p></p>
<ul>
<ul>(2) 他の会員や利用者、その他第三者を中傷したり、名誉を傷つけたりするもの、権利を侵害するもの</ul>
</ul>
<p></p>
<ul>
<ul>①&nbsp;&nbsp; 他の会員や利用者、その他第三者について、誹謗中傷もしくは侮辱する、又は名誉や信用を傷つける行為、表現・内容の送信等</ul>
</ul>
<p></p>
<ul>
<ul>②&nbsp;&nbsp; 人種、民族、性別、信条、社会的身分、居住地、身体的特徴、病歴、教育、財産等による差別につながる表現・内容の送信等</ul>
</ul>
<p></p>
<ul>
<ul>③&nbsp;&nbsp; 本人の承諾のない個人情報（但し、一般に公開されている著名人などの情報は除く）の送信等</ul>
</ul>
<p></p>
<ul>
<ul>④&nbsp;&nbsp; 第三者の商標権、著作権、著作者人格権等の知的財産権、肖像権及びパブリシティ権等の権利を侵害する、又はその恐れのある行為、表現・内容の送信等</ul>
</ul>
<p></p>
<ul>
<ul>⑤&nbsp;&nbsp; 第三者の財産、プライバシー等個人の権利を侵害する、又はその恐れのある行為、表現・内容の送信等</ul>
</ul>
<p></p>
<ul>
<ul>(3) 社会倫理や法令に反するもの</ul>
</ul>
<p></p>
<ul>
<ul>①&nbsp;違法薬物、火器・けん銃など違法武器、爆発物の製造、売買春、児童ポルノの提供、公文書偽造、殺人、傷害、詐欺、窃盗等の犯罪その他の法令違反行為を推奨・肯定・勧誘もしくは助長する又はその恐れのある行為、表現・内容の送信等</ul>
</ul>
<p></p>
<ul>
<ul>②&nbsp;犯罪その他の法令違反行為を推奨、肯定、もしくは助長する等、社会的に有害であるもの、又はその恐れのある行為、表現・内容の送信等</ul>
</ul>
<p></p>
<ul>
<ul>③&nbsp;出会いを希望もしくは誘導することを目的とするもの、又はその恐れのある行為、表現・内容の送信等</ul>
</ul>
<p></p>
<ul>
<ul>④&nbsp;異性との交際又は性交渉を目的として本サービスを利用する行為</ul>
</ul>
<p></p>
<ul>
<ul>⑤&nbsp;直接会うことを目的とした内容の送信等、又は他の会員に対し、そのような行為をするよう誘う行為</ul>
</ul>
<p></p>
<ul>
<ul>⑥&nbsp;他の会員に対し、個人情報（フルネーム、電話番号、メールアドレス、住所、本人の顔写真等）を聞き出す行為</ul>
</ul>
<p></p>
<ul>
<ul>⑦&nbsp;相手に恐怖心を生じさせる目的で危害を加えることを通告する脅迫行為やストーカー行為</ul>
</ul>
<p></p>
<ul>
<ul>⑧&nbsp;公職選挙法に抵触する行為</ul>
</ul>
<p></p>
<ul>
<ul>⑨&nbsp;その他、法令もしくは公序良俗に違反するもの、又はその恐れのある行為、表現・内容の送信等</ul>
</ul>
<p></p>
<ul>
<ul>(4) 当社の承諾のない商業行為</ul>
</ul>
<p></p>
<ul>
<ul>①&nbsp;&nbsp; 無限連鎖講（ねずみ講）、リードメール、ネットワークビジネス関連（マルチ商法、マネーゲーム等を含む）の勧誘等の情報、及びこれらに類する情報の送信等</ul>
</ul>
<p></p>
<ul>
<ul>②&nbsp;&nbsp; 商業用の広告、宣伝を目的としたブログの作成（但し、当社が認めている範囲のもの及び当社タイアップ等は除く）</ul>
</ul>
<p></p>
<ul>
<ul>③&nbsp;&nbsp; 当社が許可したものを除き、営利、非営利目的を問わず、物やサービスの売買、交換（それらの宣伝、告知、勧誘を含む）を目的とする情報の送信等（物品を販売し、又は契約を締結させることを目的とする無料セミナーの情報の送信等を含む）</ul>
</ul>
<p></p>
<ul>
<ul>④&nbsp;&nbsp; 本サービスの一部の利用権を、当社が定めた以外の方法で譲渡する行為</ul>
</ul>
<p></p>
<ul>
<ul>⑤&nbsp;&nbsp; 本サービスの全部又は一部の利用権をもって、現金その他の財物、財産上の利益との交換取引をすること、もしくは交換取引をすることの宣伝・告知・勧誘する行為（詳しくは</ul>
</ul>
<p><a href="http://helps.ameba.jp/rules/rmt.html?">コチラ</a></p>
<ul>
<ul>をご覧ください。）</ul>
</ul>
<p></p>
<ul>
<ul>(5) その他</ul>
</ul>
<p></p>
<ul>
<ul>①&nbsp;&nbsp; 個人、法人問わず、自ら又は組織等を偽る行為</ul>
</ul>
<p></p>
<ul>
<ul>②&nbsp;&nbsp; 宗教団体もしくはそれと同視し得る団体への勧誘、布教、寄付等を求める、又はその恐れのある行為</ul>
</ul>
<p></p>
<ul>
<ul>③&nbsp;&nbsp; その他、当社が不適切と判断する行為</ul>
</ul>
<p></p>
<h3>第14条（本サービスの停止・中止・終了）</h3>
<ul>
<ul>1. 当社は、以下各号の事由に起因する場合、本サービスの全部又は一部を停止することができるものとします。</ul>
</ul>
<p></p>
<ul>
<ul>(1) 当社が、定期的又は緊急に、本サービス提供のためのコンピュータシステムの保守・点検を行う場合</ul>
</ul>
<p></p>
<ul>
<ul>(2) 火災・停電、天災地変等の非常事態により本サービスの運営が不能となった場合</ul>
</ul>
<p></p>
<ul>
<ul>(3) 戦争、内乱、暴動、騒擾、労働争議等により、本サービスの運営が不能となった場合</ul>
</ul>
<p></p>
<ul>
<ul>(4) サービス提供のためのコンピュータシステムの不良及び第三者からの不正アクセス、コンピュータウイルスの感染等により本サービスを提供できない場合</ul>
</ul>
<p></p>
<ul>
<ul>(5) 法律、法令等に基づく措置により本サービスが提供できない場合</ul>
</ul>
<p></p>
<ul>
<ul>(6) 当社が利用者に対し、事前に電子メールその他の手段により、合理的な範囲で周知した場合</ul>
</ul>
<p></p>
<ul>
<ul>(7) その他、当社が止むを得ないと判断した場合</ul>
</ul>
<p></p>
<ul>
<ul>2. 当社は、前項により本サービスの運用を停止する場合、合理的な範囲で、事前に電子メールその他の手段により、利用者に対し、その旨を通知するものとします。ただし、緊急の場合は、この限りではありません。</ul>
</ul>
<p></p>
<ul>
<ul>3. 当社は利用者に対し事前に通知し又は利用者から承諾を得ることなく、いつでも任意に、本サービスの内容又は名称を変更することができるものとします。</ul>
</ul>
<p></p>
<h3>第15条（本サービスの提供形態）</h3>
<ul>
<ul>1. 当社は、利用者の事前の承諾なく、本サービスを利用して広告等を掲載・配信することができるものとします。</ul>
</ul>
<p></p>
<ul>
<ul>2. 当社は、利用者の事前の承諾を必要とせず、当社が適切と判断する方法にて本サービスを分類し、又は順位をつけて掲載又は提供することができるものとします。また、当社は、利用者に対し、当該分類又は順位に応じて、利用者に種別を設けて、それぞれの利用者ごとに異なるサービス形態で、随時提供することができるものとします。</ul>
</ul>
<p></p>
<h3>第16条（免責）</h3>
<ul>
<ul>1. 当社は、本サービス内に含まれる一切の情報について、その合法性、正確性、適切性、妥当性、道徳性、権利許諾の有無を保証しないものとします。</ul>
</ul>
<p></p>
<ul>
<ul>2. 当社は、本サービスにおいて、利用者相互間及び利用者と第三者との間で生じた一切のトラブル（違法又は公序良俗に反する行為の提案、名誉毀損、侮辱、プライバシー侵害、脅迫、誹謗中傷、いやがらせ等）に関して、当社に故意又は重過失がある場合を除き、責任を負わないものとします。</ul>
</ul>
<p></p>
<ul>
<ul>3. 当社は、本サービスにおいて配信される広告情報の内容が、利用者もしくは第三者の権利を侵害し、又は権利の侵害に起因して紛争が生じた場合であっても、当社に故意又は重過失がある場合を除き、その侵害及び紛争に対して責任を負わないものとします。</ul>
</ul>
<p></p>
<ul>
<ul>4. 当社は、第14条第1項による本サービスの停止・中止・終了及び同条第3項による本サービスの変更に起因して利用者に発生した一切の損害（情報等の消失に起因する損害を含みますが、これに限られません）について、当社に故意又は重過失がある場合を除き、責任を負わないものとします。</ul>
</ul>
<p></p>
<ul>
<ul>5. 当社は、利用者が使用するパーソナルコンピュータ・スマートフォン端末・モバイル端末、回線、ソフトウェア等の環境等又はコンピュータウィルス感染等に起因して生じた一切の損害について、責任を負わないものとします。なお、当社は別途定める方法により、利用者に対して、当該環境等について告知をすることがあります。</ul>
</ul>
<p></p>
<ul>
<ul>6. 本サービスにおいて提供される広告の広告主を含む第三者と会員との間の一切の取引（懸賞等のプロモーション参加を含みます）については、当該第三者と会員の責任においてなされるものとし、当社は当該取引に関する責任を負わないものとします。</ul>
</ul>
<p></p>
<ul>
<ul>7. 当社は、前各項に掲げるほか、本サービスの利用に起因して利用者に発生した一切の損害について、当社に故意又は重過失がある場合を除き、責任を負わないものとします。</ul>
</ul>
<p></p>
<h3>第17条（権利義務の譲渡禁止）</h3>
<ul>
<ul>利用者は、当社の書面による事前承諾なしに、本利用規約に基づく一切の権利又は義務について、第三者への譲渡、承継、質入その他一切の処分をしてはならないものとします。</ul>
</ul>
<p></p>
<h3>第18条（本規約の改訂）</h3>
<ul>
<ul>1. 当社は、随時本利用規約を改訂することができるものとします。</ul>
</ul>
<p></p>
<ul>
<ul>2. 当社は、本利用規約を改訂しようとする場合、電子メール又は本サービスに関するウェブサイト等を使い随時、会員に告知するものとします。</ul>
</ul>
<p></p>
<ul>
<ul>3. 前項に基づき、本利用規約の改訂を告知した日から当社が定める期間内に会員が退会しない場合、当該会員は本利用規約の改訂に同意したものとみなされ、当該会員と当社との間で改訂後の規約の効力が発生するものとします。</ul>
</ul>
<p></p>
<ul>
<ul>4. 会員は、前項に定める効力発生の時点以降、当該内容の不知又は不承諾を申し立てることはできないものとします。</ul>
</ul>
<p></p>
<h3>第19条（協議・管轄裁判所）</h3>
<ul>
<ul>1. 当社、本サービスに関連して会員、当社、第三者との間で疑義、問題が生じた場合、都度誠意をもって協議し、解決を図るものとします。</ul>
</ul>
<p></p>
<ul>
<ul>2. 本利用規約に関する一切の訴訟その他の紛争については、東京簡易裁判所又は東京地方裁判所を第１審の専属的合意管轄裁判所とするものとします。</ul>
</ul>
<p></p>
<h3>第20条（準拠法）</h3>
<ul>本利用規約は、日本法に準拠し、日本法に従って解釈されるものとします。</ul>
<ul></ul>
<ul></ul>
<ul></ul>
<ul></ul>
<ul></ul>
<p><br><br><br><br></p>
<ul>
<ul>平成18年2月15日　制定</ul>
</ul>
<p></p>
<ul>
<ul>平成18年4月25日　改訂</ul>
</ul>
<p></p>
<ul>
<ul>平成18年6月1日　改訂</ul>
</ul>
<p></p>
<ul>
<ul>平成18年10月3日　改訂</ul>
</ul>
<p></p>
<ul>
<ul>平成18年12月27日　改訂</ul>
</ul>
<p></p>
<ul>
<ul>平成20年4月22日　改訂</ul>
</ul>
<p></p>
<ul>
<ul>平成21年4月30日　改訂</ul>
</ul>
<p></p>
<ul>
<ul>平成21年7月30日　改訂</ul>
</ul>
<p></p>
<ul>
<ul>平成21年10月1日　改訂</ul>
</ul>
<p></p>
<ul>
<ul>平成22年9月14日　改訂</ul>
</ul>
<p></p>
<ul>
<ul>平成24年6月6日 改訂</ul>
</ul>
<p></p>
<ul>
<ul>平成25年4月1日 改訂</ul>
</ul>
<p></p>
<ul>
<ul>平成25年5月26日 改訂</ul>
</ul>
<p></p>
<p></p>
</div>

    </div>


</script>