

<!-- 検索ページの枠組み  -->
<script id="page_search" type="text/template">

    <div class="pageSearch">

        <!--検索条件入力エリア-->
        <div class="conditionArea">
            <input id="conditionInput" type="text" placeholder="曲名やアーティスト名で検索"/>
            <input type="button" value="検索する" data-event-click="searchByItunes"/>
        </div>


        <!--検索結果エリア-->
        <div class="resultArea">

            <!--検索件数-->
            <p class="numOfResult">検索結果：<span id="numOfResult">300</span>件</p>

            <!--結果内容-->
            <ul id="resultList" class="resultList"><!--JSで埋め込む--></ul>
        </div>
    </div>
</script>



<!--iTunes検索結果-->
<script id="page_search_itunes_results" type="text/template">
    <%_.each(results, function (result, idx) {%>
        <li data-pos="<%=idx%>">
            <img class="thumb" src="<%=result.artworkUrl100%>" alt=""/>
            <div class="info">
                <div class="title"><%=result.trackName%></div>
                <div class="artistName"><%=result.artistName%></div>
            </div>
            <div class="actionArea">
                <input type="button" class="writePopButton" value="感想を書く" data-event-click="writeDrop"/>
                <input type="button" class="goDetail" value="詳細を見る" data-event-click="goMusicDetail"/>
            </div>
        </li>
    <%});%>
</script>










































<!-- iTunes Ranking Tab Content -->
<script id="page_search_itunes_ranking" type="text/template">
    <select id="genreSelect" name="dummy">
        <% _.each(genres, function (genre) { %>
            <option value="<%- genre.key2 %>"><%- genre.value %></option>
        <% }); %>
    </select>&nbsp;&nbsp;&nbsp;&nbsp;
    <div id="searchResult"></div>
</script>


<!-- Music Search Result -->
<script id="music_search_result" type="text/template">
    <div id="pagenation">Page:
        <% for (var i = 0; i < totalPage; i++) { %>
            <% if (i !== currentPage) { %>
                <a href="#" data-event="paging" data-page-num="<%=i%>"><%=(i+1)%></a>&nbsp;
            <%} else { %>
                <%=(i+1)%>&nbsp;
            <% } %>
        <% } %>
    </div>
    <table class="table">
        <tr>
            <th>#</th>
            <th>Artwork</th>
            <th>Title / Artist</th>
            <th>Action</th>
        </tr>
        <% for (var i = startPos; i < endPos; i++) {
            var result = results[i];
            %>
            <tr>
                <td><%- result.attributes.ranking %></td>
                <td><img src="<%- result.attributes.artwork_url %>" alt="" class="thumb" /></td>
                <td class="wb"><%- result.attributes.title %>/<%- result.attributes.artist_name %></td>
                <!-- <td><audio src="<%- result.attributes.song_url %>" controls></audio></td> -->
                <td><a href="#music/<%-result.attributes.music_id%>">詳細へ</a></td>
            </tr>
        <% } %>
    </table>
</script>







<!-- iTunes Search Page -->
<script id="page_itunes_search" type="text/template">
    <h2 class="text-center">iTunes Search</h2>
    <input id="searchTerm" type="text" placeholder="検索条件を入力" style="display;block; width:80%;"/><br>
    <!--
    <select id="searchCountry">
        <option value="JP">邦楽</option>
        <option value="US">洋楽</option>
    </select><br>
    -->
    <div id="searchBtn" class="btn">検索する</div>

    <table class="table mt20">
        <tr>
            <th>#</th>
            <th>Artwork</th>
            <th>Title / Artist</th>
            <th>Action</th>
        </tr>
        <tbody id="search_result"></tbody>
    </table>
</script>


<!-- iTunes Search Page - Result -->
<script id="page_itunes_search_result" type="text/template">
    <% if (!results || results.length === 0) { %>
        <tr>
            <td colspan=4>No Search Result</td>
        </tr>
    <% } else { %>
        <%
            for (var i = 0; i < results.length; i++) {
                var result = results[i];
        %>
            <tr>
                <td><%=(i+1)%></td>
                <td><img src="<%=result.artworkUrl100%>" class="thumbM" /></td>
                <td><%=result.trackName%> / <%=result.artistName%></td>
                <td><a href="#" data-pos="<%=i%>" data-event="goDetail">詳細へ</a></td>
            </tr>
        <% } %>
    <% } %>
</script>




















