<!--
	タイムラインのページ（要マークアップ）
-->

<!--ページ骨格-->
<script id="page_timeline" type="text/template">

    <div class="pageTimeline clearfix">


        <!--左袖メニュー-->
        <div class="leftCol">
            <div class="timelineHeader">
                <span class="fs18">タイムライン</span>
            </div>
            <ul class="sidebarList">
                <li data-event-click="showMyDrops">すべて</li>
                <li data-event-click="showMyDrops">いいね/視聴&nbsp;<span class="numOfLike">(123)</span></li>
                <li data-event-click="showMyDrops">フォローユーザー&nbsp;<span class="numOfLike">(12)</span></li>
                <li data-event-click="showMyDrops">フォローアーティスト&nbsp;<span class="numOfLike">(2)</span></li>
            </ul>
        </div>


        <!--右側: 本体-->
        <div class="rightCol" data-type="dataArea">

            <ul class="timelineArea">


                <%_.each(notifications, function (notif) {%>

                    <%if (notif.attributes.type === 1) { /*フォローしているユーザーがポケットを追加*/%> 

                        <li class="">
                            <div>フォロー中の<a href="#user/<%=notif.attributes.json.user.id%>" class="di u"><%=notif.attributes.json.user.name%></a>さんが、「<a href="#music/<%=notif.attributes.json.music.id%>" class="di u"><%=notif.attributes.json.music.title%></a>」の曲を<span class="b">ポケット</span>しました。</div>
                            <div class="time"><%=_.formatTimestamp(notif.attributes.create_at)%></div>
                            <div class="musicInfoArea">
                                <img class="thumb" src="<%=notif.attributes.json.music.artwork_url%>" alt="<%=notif.attributes.json.music.title%>"/>
                                <div class="info">
                                    <div class="title">
                                        <a href="#user/<%=notif.attributes.json.music.id%>" class="di b"><%=notif.attributes.json.music.title%></a> / <a href="#artist/<%=notif.attributes.json.music.artist_id%>" class="di"><%=notif.attributes.json.music.artist_name%></a>
                                    </div>
                                    <div class="feeling type<%=notif.attributes.json.music.feeling_id%>"><%=_.getFeelingName(notif.attributes.json.music.feeling_id)%></div>

                                    <!-- データ持ってない。。
                                    <div class="comment">
                                        何回聞いてもテンションがあがる。いつんまにかノリノリで体が動く。頭の中で爆音で音楽がなってるから聞こえねえよ！
                                    </div>
                                    -->
                                </div>
                            </div>
                        </li>


                    <%}else if(notif.attributes.type === 2) { /*フォローしているユーザーがDropを追加*/%>


                        <li>
                            <div>フォロー中の<a href="#user/<%=notif.attributes.json.followUser.id%>" class="di u"><%=notif.attributes.json.followUser.name%></a>さんが、「<a href="#music/<%=notif.attributes.json.music.id%>" class="di u"><%=notif.attributes.json.music.title%></a>」の曲を<span class="b">ドロップ</span>しました。</div>
                            <div class="time"><%=_.formatTimestamp(notif.attributes.create_at)%></div>
                            <div class="musicInfoArea">
                                <img class="thumb" src="<%=notif.attributes.json.music.artwork_url%>" alt="<%=notif.attributes.json.music.title%>"/>
                                <div class="info">
                                    <div class="title">
                                        <a href="#music/<%=notif.attributes.json.music.id%>" class="di b"><%=notif.attributes.json.music.title%></a> / <a href="#artist/<%=notif.attributes.json.music.artist_id%>" class="di"><%=notif.attributes.json.music.artist_name%></a>
                                    </div>
                                    <div class="feeling type<%=notif.attributes.json.pop.feeling_id%>"><%=_.getFeelingName(notif.attributes.json.pop.feeling_id)%></div>
                                    <div class="comment">
                                        <%=notif.attributes.json.pop.comment%>
                                    </div>
                                </div>
                            </div>
                        </li>




                    <%}else if(notif.attributes.type === 3) { /*自分のDropがLikeされた*/%>

                        <li>
                            <div>あなたの「<a class="di u" href="#music/<%=notif.attributes.json.music.id%>"><%=notif.attributes.json.music.title%></a>」へのドロップに<a class="di u" href="#user/<%=notif.attributes.json.fromUser.id%>"><%=notif.attributes.json.fromUser.name%></a>さんが、いいねしました。</div>
                            <div class="time"><%=_.formatTimestamp(notif.attributes.create_at)%></div>
                        </li>



                    <%}else if(notif.attributes.type === 4) { /*自分のDropが役立った（よくわかんないから、サーバー側を実装してない）*/%>


                        <li>
                            <div>あなたの「<a class="di u" href="#">墾田永年私財法</a>」へのドロップを見て、<a class="di u" href="#">ばし</a>さんが曲を視聴しました。</div>
                            <div class="time">3時間前</div>
                        </li>


                    <%}else if(notif.attributes.type === 5) { /*フォローアーティストにリンクが追加*/%>


                        <li>
                            <div>フォローアーティスト「<a href="#artist/<%=notif.attributes.json.music.artist_id%>" class="di u"><%=notif.attributes.json.music.artist_name%></a>」の曲に、<span class="b">新しくリンクソースが追加</span>されました。</div>
                            <div class="time"><%=_.formatTimestamp(notif.attributes.create_at)%></div>
                            <div class="linkSourceArea">
                                <img class="thumb" src="<%=notif.attributes.json.music.artwork_url%>" alt="<%=notif.attributes.json.music.title%>"/>
                                <div class="info">
                                    <div class="title"><%=notif.attributes.json.music.title%></div>
                                    <a href="#music/<%=notif.attributes.json.music.id%>" class="url"><%=notif.attributes.json.musicLink.link%></a>
                                    <div class="comment">
                                        <%=notif.attributes.json.musicLink.comment%>
                                    </div>
                                </div>
                            </div>
                        </li>



                    <%}else if(notif.attributes.type === 6) { /*フォローアーティストにDropが追加*/%>

                        <li>
                            <div>フォローアーティスト「<a href="#artist/<%=notif.attributes.json.music.artist_id%>" class="di u"><%=notif.attributes.json.music.artist_name%></a>」に、<span class="b">新しい曲が追加</span>されました。</div>
                            <div class="time"><%=_.formatTimestamp(notif.attributes.create_at)%></div>
                            <div class="musicInfoArea">
                                <img class="thumb" src="<%=notif.attributes.json.music.artwork_url%>" alt="<%=notif.attributes.json.music.title%>"/>
                                <div class="info">
                                    <div class="title">
                                        <a href="#music/<%=notif.attributes.json.music.id%>" class="di b"><%=notif.attributes.json.music.title%></a> / <a href="#artist/<%=notif.attributes.json.music.artist_id%>" class="di"><%=notif.attributes.json.music.artist_name%></a>
                                    </div>
                                    <div class="feeling type<%=notif.attributes.json.pop.feeling_id%>"><%=_.getFeelingName(notif.attributes.json.pop.feeling_id)%></div>
                                    <div class="comment">
                                        <%=notif.attributes.json.pop.comment%>
                                    </div>
                                </div>
                            </div>
                        </li>



                    <%}%>

                <%});%>



            </ul>

        </div>


    </div>


</script>








































