<!--
	タイムラインのページ（要マークアップ）
-->

<!--ページ骨格-->
<script id="page_timeline" type="text/template">

    <div class="pageTimeline clearfix">


        <!--左袖メニュー-->
        <div class="leftCol">
            <div class="timelineHeader">
                <span class="fs18">タイムライン</span>
            </div>
            <ul class="sidebarList">
                <li data-event-click="showAllNotif">すべて</li>
                <li data-event-click="showLikeNotif">いいね&nbsp;<span id="numOfLike"></span></li>
                <li data-event-click="showFollowUserNotif">フォローユーザー&nbsp;<span id="numOfFollowUser"></span></li>
                <li data-event-click="showFollowArtistNotif">フォローアーティスト&nbsp;<span id="numOfFollowArtist"></span></li>
            </ul>
        </div>


        <!--右側: 本体-->
        <div class="rightCol" data-type="dataArea">

            <ul id="timelineArea" class="timelineArea">

                <%if (notifications.length === 0) {%>
                    <li>お知らせはありません</li>
                <%} else {%>


                    <%_.each(notifications, function (notif) {%>

                        <%if (notif.attributes.type === 1) { /*フォローしているユーザーがポケットを追加*/%>

                            <li class="" data-notif-type="<%=notif.attributes.type%>">
                                <div>フォロー中の<a href="#user/<%=notif.attributes.json.user.id%>" class="di u"><%=notif.attributes.json.user.name%></a>さんが、「<a href="#music/<%=notif.attributes.json.music.id%>" class="di u"><%=notif.attributes.json.music.title%></a>」の曲を<span class="b">ポケット</span>しました。</div>
                                <div class="time"><%=_.formatTimestamp(notif.attributes.create_at)%></div>
                                <div class="musicInfoArea">
                                    <a href="#music/<%=notif.attributes.json.music.id%>">
                                        <img class="thumb" src="<%=notif.attributes.json.music.artwork_url%>" alt="<%=notif.attributes.json.music.title%>"/>
                                    </a>
                                    <div class="info">
                                        <div class="title">
                                            <a href="#user/<%=notif.attributes.json.music.id%>" class="di b"><%=notif.attributes.json.music.title%></a> / <a href="#artist/<%=notif.attributes.json.music.artist_id%>" class="di"><%=notif.attributes.json.music.artist_name%></a>
                                        </div>
                                        <div class="feeling type<%=notif.attributes.json.music.feeling_id%>"><%=_.getFeelingName(notif.attributes.json.music.feeling_id)%></div>

                                        <!-- データ持ってない。。
                                        <div class="comment">
                                            何回聞いてもテンションがあがる。いつんまにかノリノリで体が動く。頭の中で爆音で音楽がなってるから聞こえねえよ！
                                        </div>
                                        -->
                                    </div>
                                </div>
                            </li>


                        <%}else if(notif.attributes.type === 2) { /*フォローしているユーザーがDropを追加*/%>


                            <li data-notif-type="<%=notif.attributes.type%>">
                                <div>フォロー中の<a href="#user/<%=notif.attributes.json.followUser.id%>" class="di u"><%=notif.attributes.json.followUser.name%></a>さんが、「<a href="#music/<%=notif.attributes.json.music.id%>" class="di u"><%=notif.attributes.json.music.title%></a>」の曲を<span class="b">ドロップ</span>しました。</div>
                                <div class="time"><%=_.formatTimestamp(notif.attributes.create_at)%></div>
                                <div class="musicInfoArea">
                                    <a href="#music/<%=notif.attributes.json.music.id%>">
                                        <img class="thumb" src="<%=notif.attributes.json.music.artwork_url%>" alt="<%=notif.attributes.json.music.title%>"/>
                                    </a>
                                    <div class="info">
                                        <div class="title">
                                            <a href="#music/<%=notif.attributes.json.music.id%>" class="di b"><%=notif.attributes.json.music.title%></a> / <a href="#artist/<%=notif.attributes.json.music.artist_id%>" class="di"><%=notif.attributes.json.music.artist_name%></a>
                                        </div>
                                        <div class="feeling type<%=notif.attributes.json.pop.feeling_id%>"><%=_.getFeelingName(notif.attributes.json.pop.feeling_id)%></div>
                                        <div class="comment">
                                            <%=notif.attributes.json.pop.comment%>
                                        </div>
                                    </div>
                                </div>
                            </li>




                        <%}else if(notif.attributes.type === 3) { /*自分のDropがLikeされた*/%>

                            <li data-notif-type="<%=notif.attributes.type%>">
                                <div>あなたの「<a class="di u" href="#music/<%=notif.attributes.json.music.id%>"><%=notif.attributes.json.music.title%></a>」へのドロップに<a class="di u" href="#user/<%=notif.attributes.json.fromUser.id%>"><%=notif.attributes.json.fromUser.name%></a>さんが、いいねしました。</div>
                                <div class="time"><%=_.formatTimestamp(notif.attributes.create_at)%></div>
                            </li>



                        <%}else if(notif.attributes.type === 4) { /*自分のDropが役立った（よくわかんないから、サーバー側を実装してない）*/%>


                            <li data-notif-type="<%=notif.attributes.type%>">
                                <div>あなたの「<a class="di u" href="#">墾田永年私財法</a>」へのドロップを見て、<a class="di u" href="#">ばし</a>さんが曲を視聴しました。</div>
                                <div class="time">3時間前</div>
                            </li>


                        <%}else if(notif.attributes.type === 5) { /*フォローアーティストにリンクが追加*/%>


                            <li data-notif-type="<%=notif.attributes.type%>">
                                <div>フォローアーティスト「<a href="#artist/<%=notif.attributes.json.music.artist_id%>" class="di u"><%=notif.attributes.json.music.artist_name%></a>」の曲に、<span class="b">新しくリンクソースが追加</span>されました。</div>
                                <div class="time"><%=_.formatTimestamp(notif.attributes.create_at)%></div>
                                <div class="linkSourceArea">
                                    <a href="#music/<%=notif.attributes.json.music.id%>">
                                        <img class="thumb" src="<%=notif.attributes.json.music.artwork_url%>" alt="<%=notif.attributes.json.music.title%>"/>
                                    </a>
                                    <div class="info">
                                        <div class="title"><%=notif.attributes.json.music.title%></div>
                                        <a href="#music/<%=notif.attributes.json.music.id%>" class="url"><%=notif.attributes.json.musicLink.link%></a>
                                        <div class="comment">
                                            <%=notif.attributes.json.musicLink.comment%>
                                        </div>
                                    </div>
                                </div>
                            </li>



                        <%}else if(notif.attributes.type === 6) { /*フォローアーティストにDropが追加*/%>

                            <li data-notif-type="<%=notif.attributes.type%>">
                                <div>フォローアーティスト「<a href="#artist/<%=notif.attributes.json.music.artist_id%>" class="di u"><%=notif.attributes.json.music.artist_name%></a>」に、<span class="b">新しい曲が追加</span>されました。</div>
                                <div class="time"><%=_.formatTimestamp(notif.attributes.create_at)%></div>
                                <div class="musicInfoArea">
                                    <a href="#music/<%=notif.attributes.json.music.id%>">
                                        <img class="thumb" src="<%=notif.attributes.json.music.artwork_url%>" alt="<%=notif.attributes.json.music.title%>"/>
                                    </a>
                                    <div class="info">
                                        <div class="title">
                                            <a href="#music/<%=notif.attributes.json.music.id%>" class="di b"><%=notif.attributes.json.music.title%></a> / <a href="#artist/<%=notif.attributes.json.music.artist_id%>" class="di"><%=notif.attributes.json.music.artist_name%></a>
                                        </div>
                                        <div class="feeling type<%=notif.attributes.json.pop.feeling_id%>"><%=_.getFeelingName(notif.attributes.json.pop.feeling_id)%></div>
                                        <div class="comment">
                                            <%=notif.attributes.json.pop.comment%>
                                        </div>
                                    </div>
                                </div>
                            </li>



                        <%}%>

                    <%});%>


                <%} /*end if (notifications.length === 0) */%>




            </ul>

        </div>


    </div>


</script>








































