
<!-- Top -->
<script id="page_top" type="text/template">

    <section class="pl10 mb20">


        <!--キモチでの絞り込み-->
        <style>
            .feeling-conditions {
                margin: 10px 0;
            }
            .feeling-conditions li {
                float: left;
                margin: 0 10px 10px 0;
                width: 200px;
                height: 50px;
                text-align: center;
                line-height: 50px;
            }
            .feeling-conditions li.is-active {
                background-color: rgba(255,0,0,.5);
            }
        </style>
        <ul id="feelingFilter" class="feeling-conditions clearfix">
            <li class="is-active" data-feeling-id="0" data-event-click="filterWithFeelings">
                すべて
            </li>
            <%_.each(feelingList, function (feeling) {%>
                <li class="is-active" data-feeling-id="<%=feeling.id%>" data-event-click="filterWithFeelings">
                    <%=feeling.name%>
                </li>
            <%});%>
        </ul>


        <ul class="tab tab-01 gp">
            <li class="tab-btn active">
                <a class="tab-btn-item" href="#popularPopListArea" data-toggle="tab" data-event-click="changeTab" data-tab-type="popular">人気</a>
            </li>
            <li class="tab-btn">
                <a class="tab-btn-item" href="#newPopListArea" data-toggle="tab" data-event-click="changeTab" data-tab-type="new">新着</a>
            </li>
            <li class="tab-btn">
                <a class="tab-btn-item" href="#hotPopListArea" data-toggle="tab" data-event-click="changeTab" data-tab-type="hot">急上昇</a>
            </li>
        </ul>

        <div class="tab-content">

            <div class="tab-pane active" id="popularPopListArea">
                <ul id="popularPopList" class="gp" data-type="popular"></ul>
            </div>

            <div class="tab-pane" id="newPopListArea">
                <ul id="newPopList" class="gp" data-type="new"></ul>
            </div>

            <div class="tab-pane" id="hotPopListArea">
                <ul id="hotPopList" class="gp" data-type="hot"></ul>
            </div>
        </div>

    </section>




</script>

<!-- Top: ボタン一覧 -->
<script id="page_top_btn_list" type="text/template">
    <% for (var i = 0; i < feelings.length; i++) {
        var feeling = feelings[i];
        var btnColor = btnClasses[i];
        %>
        <a href="#"
            class="btn btn-block btn-large mlra <%-btnColor%>"
            data-id="<%-feeling.attributes.id%>"
            data-label="<%-feeling.attributes.name%>"
            data-event="showPopList"><%-feeling.attributes.name%></a>
        <br>
        <br>
    <% } %>
</script>



<!--PopList-->
<script id="page_top_poplist" type="text/template">
    <%_.each(popList, function (pop) {%>
        <li class="musicDetail fl musicDetail-col3" data-pop-id="<%=pop.attributes.id%>">
            <div class="gp">
                <div class="musicDetail-thumb mrm fl">
                    <a href="#music/<%=pop.attributes.music_id%>">
                        <img src="<%=pop.attributes.artwork_url%>" width="100" height="100" alt="<%=pop.attributes.title%> / <%=pop.attributes.artist_name%>" />
                    </a>
                </div>
                <div class="musicDetail-info fr">
                    <h2 class="musicDetail-info-title">
                        <a class="text-link fs14 b" href="#music/<%=pop.attributes.music_id%>"><%=pop.attributes.title%><i class="ico-font ico-play"></i></a>
                    </h2>
                    <p class="musicDetail-info-artist">
                        <a class="text-link fs12" href="#artist/<%=pop.attributes.artist_id%>"><%=pop.attributes.artist_name%><i class="ico-font ico-play"></i></a>
                    </p>
                    <button class="musicDetail-info-play-btn" data-event-click="playSong" data-btn="play">
                        <i class="ico-font ico-play"></i>
                    </button>
                    <button class="musicDetail-info-play-btn is-active hidden" data-event-click="pauseSong" data-btn="pause">
                        <i class="ico-font ico-play-stop"></i>
                    </button>
                    <div class="musicDetail-action gp">
                        <div class="tag-feeling ref">
                          <i class="sprite-feeling feeling-<%=pop.attributes.feeling_id%>"></i>
                          <p class="tag-feeling-text"><%=_.getFeelingName(pop.attributes.feeling_id)%></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="musicDetail-otherLinks">
                <i class="musicDetail-otherLinks-service sprite-share share-youtube"></i>
            </div>
            <div class="musicDetail-pop">
                <p class="musicDetail-pop-user b">
                    <a class="text-link" href="#user/<%=pop.attributes.user_id%>"><%=pop.attributes.user_name%><i class="ico-font ico-play"></i></a>
                </p>
                <p class="musicDetail-pop-text"><%=pop.attributes.comment%></p>
            </div>
        </li>
    <%});%>
</script>




