//-------------------------------------//
//  User's Base Style
//-------------------------------------//
body {
	padding-top: 65px;
	color: $color-base;
	font-size: 14px;
	font-family: $font-family-body;
	-webkit-text-size-adjust: 100%;
}
a {
	display: block;
	color: $color-base;
	text-decoration: none;
}
b {
	font-weight: bold;
}
// For using as icon.
i {
	display: inline-block;
}
em { 
	font-style: normal;
}
select, button, input, textarea {
	display: block;
	width: 100%;
	-webkit-appearance: none;
}
button {
	background: none;
}